<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @RenderSection("metatags", false)
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/FileinputCSS")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", required: false)




</head>
<body class="p-3 container">
    @{
        ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject globalObject = ViewBag.GlobalObject as ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject;

        if (globalObject.IsNull())
        {
            globalObject = new ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject();
        }
    }



    <nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-end">
        <a class="navbar-brand" href="@Url.Action("Index", "Menus",null)">
            <img src="~/ContentMine/Icons/JeeAmiPkFlg.png" width="100" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav active">
                @*<li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home",null)">Home <span class="sr-only">(current)</span></a>
            </li>*@
                @if (globalObject.IsAdmin)
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Products", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Home", null)">Home</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("InitializeSystem", "Home", null)">Initialize System</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "BuySellDocs", null)">Sale Order</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("CashMenu", "Home", null)">Cash</a>
                            <a class="dropdown-item" href="@Url.Action("ProductMenu", "Home", null)">Products</a>
                            <a class="dropdown-item" href="@Url.Action("MenusMenu", "Home", null)">Menus</a>
                            <a class="dropdown-item" href="@Url.Action("MiscMenu", "Home", null)">Misc</a>
                            <a class="dropdown-item" href="@Url.Action("PlayersMenu", "Home", null)">Players</a>
                            <a class="dropdown-item" href="@Url.Action("ListOfPeopleWantingJobs", "ServiceRequestHdrs", null)">List of People wanting jobs</a>
                            @*<a class="dropdown-item background-yellow text-dark" href="@Url.Action("Get_Cash_From_EncashmentRequest", "CashTrxs", null)">Cash Encashment</a>*@
                        </div>
                    </li>

                }

                @if (globalObject.IsLoggedIn)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@Url.Action("Index","FileDocs",null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genearal
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("CashMenu", "Home", null)">Payments & Receipts</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "FileDocs", null)">Filing</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Addresses", null)">Addresses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Phones", null)">Phones</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "EmailAddresses", null)">Email Addresses</a>
                            <div class="dropdown-divider"></div>

                        </div>

                    </li>

                }


                @if (globalObject.IsLoggedIn)
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@Url.Action("GetAllOrdersReadyForShipment", "buysellitems", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            @if (globalObject.IsSuperSalesman || globalObject.IsAdmin)
                            {
                              <a class="dropdown-item" href="@Url.Action("JobRequestMenu", "Home", null)">Job Requests</a>
                              <div class="dropdown-divider"></div>

                            }
                            @if (globalObject.IsAdmin)
                            {
                                <a class="text-danger dropdown-item" href="@Url.Action("AdminMenu", "Home", null)">Admin</a>
                            }
                            @if (globalObject.IsBank || globalObject.IsAdmin)
                            {
                            <a class="dropdown-item" href="@Url.Action("BankMenu", "Home", null)">Bank</a>
                            }

                            <a class="dropdown-item" href="@Url.Action("CashMenu", "Home", null)">Cash</a>

                            @if (globalObject.IsCustomer || globalObject.IsAdmin)
                            {
                            <a class="dropdown-item" href="@Url.Action("CustomerMenu", "Home", null)">Customer</a>
                            }

                            @if (globalObject.IsDeliveryman || globalObject.IsAdmin)
                            {
                            <a class="dropdown-item" href="@Url.Action("DeliverymanMenu", "Home", null)">Deliveryman</a>
                            }

                            @if (globalObject.IsMailer || globalObject.IsAdmin)
                            {
                            <a class="dropdown-item" href="@Url.Action("MailerMenu", "Home", null)">Mailer</a>
                            }

                            @if (globalObject.IsSalesman || globalObject.IsAdmin)
                            {
                            <a class="dropdown-item" href="@Url.Action("SalesmanMenu", "Home", null)">Salesman</a>
                            }

                            @if (globalObject.IsOwner || globalObject.IsAdmin)
                            {
                            <a class="dropdown-item" href="@Url.Action("SellerMenu", "Home", null)">Seller</a>
                            }
                        </div>
                    </li>


                }



                @*@if (globalObject.IsSalesman || globalObject.IsAdmin)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("GetListOfPeopleCurrentUserHasSoldTo", "Salesmans", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Salesman
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("GetListOfPeopleCurrentUserHasSoldTo", "Salesmans", null)">Get list You have sold To/bought from</a>
                    </div>

                </li>
            }*@



                    @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("CreateMailingList", "Mailers", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mailer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("CreateMailingList", "Mailers", null)">Mailing List Dashborad</a>
                        @if (globalObject.IsAdmin)
                        {
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("CreateAMailer", "Mailers", null)">Create a Mailer</a>
                            <a class="dropdown-item" href="@Url.Action("SetAllAddressesToNotVerified", "Addresses", null)">Reset Addresses</a>
                        }
                    </div>
                </li>*@
                </ul>





            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>


    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/MyScripts/_Pollyfill.js"></script>
    @Scripts.Render("~/bundles/jqueryuobtrsive")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/JqueryIntelisense")
    @Scripts.Render("~/bundles/FormAjaxPlugIn")
    @Scripts.Render("~/bundles/Fileinput")
    @Scripts.Render("~/Scripts/notifyNS/notify")
    @Scripts.Render("~/Scripts/MyScripts/MyGlobalScriptNew")
    @RenderSection("scripts", required: false)




</body>
</html>
