<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @RenderSection("metatags", false)
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    @RenderSection("styles", required: false)


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryuobtrsive")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/respond")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/JqueryIntelisense")
    @Scripts.Render("~/bundles/FormAjaxPlugIn")
    @Scripts.Render("~/bundles/Knockout")
    <script src="~/Scripts/notifyNS/notify.min.js"></script>
    <script src="~/Scripts/MyScripts/_MyGlobalScripts1.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-inverse navbar-dark">
        @*<a class="navbar-brand" href="@Url.Action("Index","Home",null)">Navbar</a>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Home",null)">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Addresses", null)">Addresses</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Products", null)">Products</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("GetGroupedCount", "DashBoard", null)">PageViews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","FileDocs",null)">Filing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("CreateMailingList", "Mailers", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mailing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("CreateMailingList", "Mailers", null)">Create Mailing List</a>
                        <a class="dropdown-item" href="@Url.Action("PrintVerificationLetters", "Mailers", null)">Print Verification Letters</a>
                        <a class="dropdown-item" href="@Url.Action("EnterMailingListCosts", "Mailers", null)">Enter Mailing Costs</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("CreateAMailer", "Mailers", null)">Create a Mailer</a>
                        <a class="dropdown-item" href="@Url.Action("SetAllAddressesToNotVerified", "Addresses", null)">Reset Addresses</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @*@Scripts.Render("~/bundles/JquerySlim")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/MyScripts/_MyGlobalScripts1.js"></script>



</body>
</html>


