<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @RenderSection("metatags", false)
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    @RenderSection("styles", required: false)


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryuobtrsive")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/respond")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/JqueryIntelisense")
    @Scripts.Render("~/bundles/FormAjaxPlugIn")
    @Scripts.Render("~/bundles/Knockout")
    <script src="~/Scripts/notifyNS/notify.min.js"></script>
    <script src="~/Scripts/MyScripts/_MyGlobalScripts.js"></script>

</head>
<body class="p-3">






    <nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-end">
        <a class="navbar-brand" href="@Url.Action("Index", "Menus",null)">Brand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Home",null)">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index","Products",null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index", "Products", null)">Products</a>
                        <a class="dropdown-item" href="@Url.Action("DeleteAll", "Products", null)">Products -Delete All</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "ProductChilds", null)">Products Child</a>
                        <a class="dropdown-item" href="@Url.Action("DeleteAll", "ProductChilds", null)">Products Child-Delete All</a>
                        
                        <div class="dropdown-divider"></div>
                        
                        <a class="dropdown-item" href="@Url.Action("Index", "MenuFeatures", null)">Menu Feature</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "ProductFeatures", null)">Product Feature</a>
                    
                            <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "MenuPath1s", null)">Menu Path 1</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "MenuPath2s", null)">Menu Path 2</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "MenuPath3s", null)">Menu Path 3</a>
                    </div>

                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Addresses", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Addresses Etc
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index", "Addresses", null)">Addresses</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "Phones", null)">Phones</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "EmailAddresses", null)">Email Addresses</a>
                    </div>

                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "CashTrxs", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Money
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index", "CashTrxs", null)">Cash Trx</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("MakeNonRefundablePayment", "CashTrxs", null)">Make NON Refundable Payment</a>
                        <a class="dropdown-item" href="@Url.Action("MakeRefundablePayment", "CashTrxs", null)">Make Refundable Payment</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "BuySellDocs", null)">Sell</a>
                    </div>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("GetGroupedCount", "DashBoard", null)">PageViews</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index","FileDocs",null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index", "FileDocs", null)">Filing</a>
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("CreateMailingList", "Mailers", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mailing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("CreateMailingList", "Mailers", null)">Mailing List Dashborad</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("CreateAMailer", "Mailers", null)">Create a Mailer</a>
                        <a class="dropdown-item" href="@Url.Action("SetAllAddressesToNotVerified", "Addresses", null)">Reset Addresses</a>
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Customers", null)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Players
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index", "Persons", null)">Person</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Mailers", null)">Mailer</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Customers", null)">Customer</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Owners", null)">Owner</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Deliverymans", null)">Deliverymen</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Cashiers", null)">Cashier</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Salesmans", null)">Salesman</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Banks", null)">Bank</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "PersonCategories", null)">Person Category</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "MailerCategories", null)">Mailer Category</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "CustomerCategories", null)">Customer Category</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "OwnerCategories", null)">Owner Category</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "DeliverymanCategories", null)">Deliverymen Category</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "CashierCategories", null)">Cashier Category</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "SalesmanCategories", null)">Salesman Category</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "BankCategories", null)">Bank Category</a>
                    </div>

                </li>
            </ul>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                @Html.Partial("_LoginPartial")
            </div>
            </div>
</nav>











        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>


        @*@Scripts.Render("~/bundles/JquerySlim")*@
        @RenderSection("scripts", required: false)
        @*<script src="~/Scripts/MyScripts/_MyGlobalScripts1.js"></script>*@



</body>
</html>


