@using Microsoft.AspNet.Identity

@{
    //ViewBag.MoneyItemParent

    //ToolTips
    //string refundableToolTipViewBag = ViewBag.RefundableToolTipViewBag as string;
    ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount moneyAccount = ViewBag.MoneyAccount as ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount ?? new ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount();

    ModelsClassLibrary.ModelsNS.DocumentsNS.MoneyAndCountClass.MoneyItemParent moneyItemParent = ViewBag.MoneyItemParent as ModelsClassLibrary.ModelsNS.DocumentsNS.MoneyAndCountClass.MoneyItemParent ?? new ModelsClassLibrary.ModelsNS.DocumentsNS.MoneyAndCountClass.MoneyItemParent();

    //string cashPath = @Url.Action("ShowCashMenu", "CashTrxs");
    //string cashPath_Admin = @Url.Action("ShowCashMenu_Admin", "CashTrxs");


    string amountRefundableAndNonRefundableMenuItem = moneyAccount.PersonCash.Total.MenuItem;
    string amountRefundableAndNonRefundableToolTip = moneyAccount.PersonCash.Total.ToolTip;
    string amountRefundableAndNonRefundable_Path = @Url.Action("ShowCashMenu", "CashTrxs");
    string amountRefundableAndNonRefundable = moneyAccount.PersonCash.Total_AmountOnly.MenuItem;

    string systemCashCreatedMenuItem = moneyAccount.SystemCash.Total.MenuItem;
    string systemCashCreatedToolTip = moneyAccount.SystemCash.Total.ToolTip;
    string systemCashCreated_Path = @Url.Action("ShowCashMenu_Admin", "CashTrxs");

    //-----------------------------------------------------Sale Requests - fix

    //string systemTotalSaleRequestsMenuItem = moneyAccount.SystemSalesOrders.Total.MenuItem;
    //string systemTotalSaleRequestToolTip = moneyAccount.SystemSalesOrders.Total.ToolTip;
    //string systemTotalSaleRequest_Admin = @Url.Action("GetSaleOrderTotals_Admin", "BuySellDocs");

    //string personTotalSaleRequestMenuItem = moneyAccount.PersonSalesOrders.Total.MenuItem;
    //string personTotalSaleRequestToolTip = moneyAccount.PersonSalesOrders.Total.ToolTip;
    //string personTotalSaleRequestPath = @Url.Action("c", "BuySellDocs");

    string systemTotalSaleRequestsMenuItem = moneyItemParent.Sale_Admin == null ? "" : moneyItemParent.Sale_Admin.RequestUnconfirmed.MenuName;
    string systemTotalSaleRequestToolTip = moneyItemParent.Sale_Admin == null ? "" : moneyItemParent.Sale_Admin.RequestUnconfirmed.MenuToolTip;
    string systemTotalSaleRequest_Admin = moneyItemParent.Sale_Admin == null ? "" : @Url.Action("GetSaleOrderTotals_Admin", "BuySellDocs");

    string personTotalSaleRequestMenuItem = moneyItemParent.Sale == null ? "" : moneyItemParent.Sale.RequestUnconfirmed.MenuName;
    string personTotalSaleRequestToolTip = moneyItemParent.Sale == null ? "" : moneyItemParent.Sale.RequestUnconfirmed.MenuToolTip;
    string personTotalSaleRequestPath = @Url.Action("GetSaleOrderTotals", "BuySellDocs");


    //-----------------------------------------------------Sale Confirmed - fix

    string systemTotalSaleConfirmedsMenuItem = moneyAccount.SystemSalesOrders.Total.MenuItem;
    string systemTotalSaleConfirmedToolTip = moneyAccount.SystemSalesOrders.Total.ToolTip;
    string systemTotalSaleConfirmed_Admin = @Url.Action("GetSaleOrderTotals_Admin", "BuySellDocs");

    string personTotalSaleConfirmedMenuItem = moneyAccount.PersonSalesOrders.Total.MenuItem;
    string personTotalSaleConfirmedToolTip = moneyAccount.PersonSalesOrders.Total.ToolTip;
    string personTotalSaleConfirmedPath = @Url.Action("GetSaleOrderTotals", "BuySellDocs");
    //-----------------------------------------------------Sale Please Pickup,,,,,,,,,,,,,,,,, - fix

    string systemTotalPleasePickupsMenuItem = moneyAccount.SystemSalesOrders.Total.MenuItem;
    string systemTotalPleasePickupToolTip = moneyAccount.SystemSalesOrders.Total.ToolTip;
    string systemTotalPleasePickup_Admin = @Url.Action("GetSaleOrderTotals_Admin", "BuySellDocs");

    string personTotalPleasePickupMenuItem = moneyAccount.PersonSalesOrders.Total.MenuItem;
    string personTotalPleasePickupToolTip = moneyAccount.PersonSalesOrders.Total.ToolTip;
    string personTotalPleasePickupPath = @Url.Action("GetSaleOrderTotals", "BuySellDocs");
    //-----------------------------------------------------Sale Orders

    //string systemTotalSaleOrdersMenuItem = moneyAccount.SystemSalesOrders.Total.MenuItem;
    //string systemTotalSaleToolTip = moneyAccount.SystemSalesOrders.Total.ToolTip;
    //string systemTotalSale_Admin = @Url.Action("GetSaleOrderTotals_Admin", "BuySellDocs");
    string systemTotalSaleOrdersMenuItem = moneyItemParent.Sale_Admin.All.MenuName;
    string systemTotalSaleToolTip = moneyItemParent.Sale_Admin.All.MenuToolTip;
    string systemTotalSale_Admin = @Url.Action("GetSaleOrderTotals_Admin", "BuySellDocs");

    //string personTotalSaleOrdersMenuItem = moneyAccount.PersonSalesOrders.Total.MenuItem;
    //string personTotalSaleOrdersToolTip = moneyAccount.PersonSalesOrders.Total.ToolTip;
    //string personTotalSaleOrdersPath = @Url.Action("GetSaleOrderTotals", "BuySellDocs");

    string personTotalSaleOrdersMenuItem = moneyItemParent.Sale == null ? "" : moneyItemParent.Sale.All.MenuName;
    string personTotalSaleOrdersToolTip = moneyItemParent.Sale == null ? "" : moneyItemParent.Sale.All.MenuToolTip; ;
    string personTotalSaleOrdersPath = @Url.Action("GetSaleOrderTotals", "BuySellDocs");

    //-----------------------------------------------------Purchase Orders

    //string personTotalPurchaseOrdersMenuItem = moneyAccount.PersonPurchaseOrders.Total.MenuItem;
    //string personTotalPurchaseOrdersToolTip = moneyAccount.PersonPurchaseOrders.Total.ToolTip;
    //string personTotalPurchaseOrders_Path = Url.Action("GetPurchaseOrderTotals", "BuySellDocs");

    string personTotalPurchaseOrdersMenuItem = moneyItemParent.Purchase.All.MenuName;
    string personTotalPurchaseOrdersToolTip = moneyItemParent.Purchase.All.MenuToolTip;
    string personTotalPurchaseOrders_Path = Url.Action("GetPurchaseOrderTotals", "BuySellDocs");
    
    string systemTotalPurchaseOrdersMenuItem = moneyAccount.SystemPurchaseOrders.Total.MenuItem;
    string systemTotalPurchaseOrdersToolTip = moneyAccount.SystemPurchaseOrders.Total.ToolTip;
    string systemTotalPurchaseOrders_Path = Url.Action("GetPurchaseOrderTotals_Admin", "BuySellDocs");
    
    





}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@amountRefundableAndNonRefundable_Path" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Total: @amountRefundableAndNonRefundable
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="@amountRefundableAndNonRefundable_Path" data-toggle="tooltip" title="@amountRefundableAndNonRefundableToolTip" data-placement="left">@amountRefundableAndNonRefundableMenuItem</a>

            <a class="dropdown-item" href="@personTotalSaleOrdersPath" data-toggle="tooltip" title="@personTotalSaleOrdersToolTip" data-placement="left">@personTotalSaleOrdersMenuItem</a>
            <a class="dropdown-item" href="@personTotalPurchaseOrders_Path" data-toggle="tooltip" title="@personTotalPurchaseOrdersToolTip" data-placement="left">@personTotalPurchaseOrdersMenuItem</a>


            @if (moneyAccount.IsAdmin)
            {
                <a class="dropdown-item background-yellow" href="@systemCashCreated_Path" data-toggle="tooltip" title="@systemCashCreatedToolTip" data-placement="left">@systemCashCreatedMenuItem</a>
                <a class="dropdown-item background-yellow" href="@systemTotalSale_Admin" data-toggle="tooltip" title="@systemTotalSaleToolTip" data-placement="left">@systemTotalSaleOrdersMenuItem</a>
                <a class="dropdown-item  background-yellow" href="@systemTotalPurchaseOrders_Path" data-toggle="tooltip" title="@systemTotalPurchaseOrdersToolTip" data-placement="left">@systemTotalPurchaseOrdersMenuItem</a>
            }

        </div>

    </li>


    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link", id = "helloLink" })
    </li>
    <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>


</ul>

    }
}
else
{

    <ul class="navbar-nav">
        @{

    string returnUrl = Request.QueryString["ReturnUrl"];
        }
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = returnUrl }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

    </ul>
}

