@using Microsoft.AspNet.Identity

@{

    ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject globalObject = ViewBag.GlobalObject as ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject ?? new ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject();

    string amountRefundableAndNonRefundableMenuItem = globalObject.Money_User.TotalCash.MenuName;
    string amountRefundableAndNonRefundableToolTip = globalObject.Money_User.TotalCash.MenuToolTip;
    string amountRefundableAndNonRefundable_Path = @Url.Action("ShowCashMenu", "CashTrxs");
    string amountTotalUser = globalObject.Money_User.TotalCash.MoneyAmount.ToString().ToRuppeeFormat();

    string systemCashCreatedMenuItem = globalObject.Money_System.TotalCash.MenuName;
    string systemCashCreatedToolTip = globalObject.Money_System.TotalCash.MenuToolTip;
    string systemCashCreated_Path = @Url.Action("ShowCashMenu_Admin", "CashTrxs");


    //-----------------------------------------------------Salesman Please Pickup


    string personTotalSalesmanOrdersMenuItem = globalObject.Salesman == null ? "" : globalObject.Salesman.All.MenuName;
    string personTotalSalesmanOrdersToolTip = globalObject.Salesman == null ? "" : globalObject.Salesman.All.MenuToolTip; ;
    string personTotalSalesmanOrders_Path = @Url.Action("GetSalesmanOrderTotals", "BuySellDocs");

    string systemTotalSalesmanOrdersMenuItem = globalObject.Salesman_Admin.All.MenuName;
    string systemTotalSalesmanToolTip = globalObject.Salesman_Admin.All.MenuToolTip;
    string systemTotalSalesman_Path = @Url.Action("GetSalesmanOrderTotals_Admin", "BuySellDocs");



    //-----------------------------------------------------Sale Please Pickup


    string personTotalSaleOrdersMenuItem = globalObject.Sale == null ? "" : globalObject.Sale.All.MenuName;
    string personTotalSaleOrdersToolTip = globalObject.Sale == null ? "" : globalObject.Sale.All.MenuToolTip; ;
    string personTotalSaleOrders_Path = @Url.Action("GetSaleOrderTotals", "BuySellDocs");

    string systemTotalSaleOrdersMenuItem = globalObject.Sale_Admin.All.MenuName;
    string systemTotalSaleToolTip = globalObject.Sale_Admin.All.MenuToolTip;
    string systemTotalSale_Path = @Url.Action("GetSaleOrderTotals_Admin", "BuySellDocs");


    //-----------------------------------------------------Purchase Orders

    string personTotalPurchaseOrdersMenuItem = globalObject.Purchase.All.MenuName;
    string personTotalPurchaseOrdersToolTip = globalObject.Purchase.All.MenuToolTip;
    string personTotalPurchaseOrders_Path = Url.Action("GetPurchaseOrderTotals", "BuySellDocs");

    string systemTotalPurchaseOrdersMenuItem = globalObject.Purchase_Admin.All.MenuName;
    string systemTotalPurchaseOrdersToolTip = globalObject.Purchase_Admin.All.MenuToolTip;
    string systemTotalPurchaseOrders_Path = Url.Action("GetPurchaseOrderTotals_Admin", "BuySellDocs");


    //-----------------------------------------------------Delivery Orders

    string personTotalDeliveryOrdersMenuItem = globalObject.Delivery.All.MenuName;
    string personTotalDeliveryOrdersToolTip = globalObject.Delivery.All.MenuToolTip;
    string personTotalDeliveryOrders_Path = Url.Action("GetDeliveryOrderTotals", "BuySellDocs");

    string systemTotalDeliveryOrdersMenuItem = globalObject.Delivery_Admin.All.MenuName;
    string systemTotalDeliveryOrdersToolTip = globalObject.Delivery_Admin.All.MenuToolTip;
    string systemTotalDeliveryOrders_Path = Url.Action("GetDeliveryOrderTotals_Admin", "BuySellDocs");

    bool isAdmin = globalObject.IsAdmin;
    bool isCustomer = globalObject.IsCustomer;
    bool isOwner = globalObject.IsOwner;
    bool isDeliveryman = globalObject.IsDeliveryman;
    bool isSalesman = globalObject.IsSalesman;

    string i_Want_To_Path = Url.Action("IWantTo", "ServiceRequestHdrs");
    string i_Want_To_ToolTip = "This allows you to join our team of champitons.";

}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="@amountRefundableAndNonRefundable_Path" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Total: @amountTotalUser
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item bg-light" href="@amountRefundableAndNonRefundable_Path" data-toggle="tooltip" title="@amountRefundableAndNonRefundableToolTip" data-placement="left">@amountRefundableAndNonRefundableMenuItem</a>

                    @if (isOwner || isAdmin)
                    {
                        <a class="dropdown-item bg-light" href="@personTotalSaleOrders_Path" data-toggle="tooltip" title="@personTotalSaleOrdersToolTip" data-placement="left">@personTotalSaleOrdersMenuItem</a>
                    }
                    @if (isCustomer || isAdmin)
                    {
                        <a class="dropdown-item bg-light" href="@personTotalPurchaseOrders_Path" data-toggle="tooltip" title="@personTotalPurchaseOrdersToolTip" data-placement="left">@personTotalPurchaseOrdersMenuItem</a>
                    }
                    @if (isDeliveryman || isAdmin)
                    {
                        <a class="dropdown-item bg-light" href="@personTotalDeliveryOrders_Path" data-toggle="tooltip" title="@personTotalDeliveryOrdersToolTip" data-placement="left">@personTotalDeliveryOrdersMenuItem</a>
                    }

                    @if (isSalesman || isAdmin)
                    {
                        <a class="dropdown-item bg-light" href="@personTotalSalesmanOrders_Path" data-toggle="tooltip" title="@personTotalSalesmanOrdersToolTip" data-placement="left">@personTotalSalesmanOrdersMenuItem</a>
                    }
                    <a class="dropdown-item bg-light" href="@i_Want_To_Path" data-toggle="tooltip" title="@i_Want_To_ToolTip" data-placement="left">I want to...</a>

                    @if (globalObject.IsAdmin)
                    {
                        <a class="dropdown-item background-yellow" href="@systemCashCreated_Path" data-toggle="tooltip" title="@systemCashCreatedToolTip" data-placement="left">@systemCashCreatedMenuItem</a>
                        
                        <a class="dropdown-item background-yellow" href="@systemTotalSale_Path" data-toggle="tooltip" title="@systemTotalSaleToolTip" data-placement="left">@systemTotalSaleOrdersMenuItem</a>
                        
                        <a class="dropdown-item  background-yellow" href="@systemTotalPurchaseOrders_Path" data-toggle="tooltip" title="@systemTotalPurchaseOrdersToolTip" data-placement="left">@systemTotalPurchaseOrdersMenuItem</a>
                        
                        <a class="dropdown-item  background-yellow" href="@systemTotalSalesman_Path" data-toggle="tooltip" title="@systemTotalSalesmanToolTip" data-placement="left">@systemTotalSalesmanOrdersMenuItem</a>

                    }

                </div>

            </li>


            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link", id = "helloLink" })
            </li>
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>


        </ul>

    }
}
else
{

    <ul class="navbar-nav">
        @{

    string returnUrl = Request.QueryString["ReturnUrl"];
        }
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = returnUrl }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

    </ul>
}

