@model InterfacesLibrary.SharedNS.ICommonWithId

<div class="container">
    @if (!Model.HideNameInView())
    {
        <div class="row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.DisableNameInView())
                {
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter name", @disabled = "true" } })

                }
                else
                {
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                }
            </div>


        </div>
    }
    <div class="row">
            @Html.LabelFor(model => model.DetailInfoToDisplayOnWebsite, "Detail To Display on Webstite", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextAreaFor(model => model.DetailInfoToDisplayOnWebsite, 5, 50, new { @class = "form-control", @placeholder = "Enter details to display on web page" })
            @Html.ValidationMessageFor(model => model.DetailInfoToDisplayOnWebsite, "", new { @class = "text-danger" })
        </div>
    </div>
</div>