@model InterfacesLibrary.SharedNS.ICommonWithId

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string returnUrl = Request.Url.PathAndQuery; 
    Model.MenuManager.MenuState.ControllerCurrentName = this.ViewContext.RouteData.Values["controller"].ToString();
    string selectId = Model.MenuManager.SelectedId;
    string searchString = Model.MenuManager.SearchString;
    string createScreenName = string.Format("{0} - {1}", "Create", Model.FullName());
    Model.MenuManager.BreadCrumbManager.Push(createScreenName, returnUrl);
    
}
        @*@Html.Partial(@"ViewControls/index/_breadCrumbs")*@

@Html.Partial(@"ViewControls/Create/_CreateHeading")

@using (Html.BeginForm("Create", @controllerName, new { selectId = selectId, searchString = searchString }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.Partial(@"_FieldsOnlyEditFormat")
    @Html.Partial(@"ViewControls/Uploads/_ShowUploads")

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
}



<div>
    <a href="@Model.MenuManager.BreadCrumbManager.Url_CurrMinusOne">Back to List</a>
</div>



