@model ModelsClassLibrary.ModelsNS.FeaturesNS.MenuFeatureNS.CreateNewFeatureModel

@{
    ViewBag.Title = "Create New Feature";
}

<h2>Create New Feature</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ReturnUrl)
    @Html.HiddenFor(x => x.MenuPathId)

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.FeatureName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FeatureName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FeatureName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div>
    
    <a href="@Url.Content(Model.ReturnUrl)">Back to list</a>
</div>
