@model InterfacesLibrary.SharedNS.ICommonWithId

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string menuPathMainId = "";
    string productId = "";
    string productChildId = "";
    string returnUrl = "";
    string selectId = "";
    string searchString = "";
    MenuLevelENUM menuLevelEnum = MenuLevelENUM.unknown;
    MenuLevelENUM previousMenuLevelEnum = MenuLevelENUM.unknown;


    ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.IHaveMenuManager ihaveMenuManager = Model as ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.IHaveMenuManager;
    if (!ihaveMenuManager.IsNull())
    {
        ihaveMenuManager.MenuManager.ControllerCurrent = controllerName;
        controllerName = ihaveMenuManager.MenuManager.ControllerNameInViewIndexForCreateAndEdit;

        menuPathMainId = ihaveMenuManager.MenuManager.MenuPathMainId;
        returnUrl = ihaveMenuManager.MenuManager.ReturnUrl;
        productId = ihaveMenuManager.MenuManager.ProductId;
        productChildId = ihaveMenuManager.MenuManager.ProductChildId;
        selectId = ihaveMenuManager.MenuManager.SelectId;
        searchString = ihaveMenuManager.MenuManager.SearchString;
        menuLevelEnum = ihaveMenuManager.MenuManager.MenuLevelEnum;
        previousMenuLevelEnum = ihaveMenuManager.MenuManager.GetPreviousMenuLevel();
    }

    
}
        @Html.Partial(@"ViewControls/index/_breadCrumbs")

@Html.Partial(@"ViewControls/Create/_CreateHeading")

@using (Html.BeginForm("Create", @controllerName, new { menuPathMainId = menuPathMainId, productId = productId, returnUrl = returnUrl, productChildId = productChildId, menuLevelEnum = menuLevelEnum, selectId = selectId, searchString = searchString }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.Partial(@"_FieldsOnlyEditFormat")
    @Html.Partial(@"ViewControls/Uploads/_ShowUploads")

        <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
}



<div>

    @Html.ActionLink("Back to List", "Index", new { menuPathMainId = menuPathMainId, productId = productId, returnUrl = returnUrl, productChildId = productChildId, menuLevelEnum = previousMenuLevelEnum, searchString = searchString, selectedId = Model.Id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


