@Html.Partial(@"ViewControls/DeleteAll/_DeleteAllHeading")



@**********************************************************
    This is where the error messages are displayed
    **********************************************************@
@Html.Partial("_messages")



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Partial(@"ViewControls/DeleteAll/_DeleteAllControls")
}

<div>
    @Html.ActionLink("Home", "Index","Home",null,null)
</div>

