@Html.Partial(@"ViewControls/Delete/_DeleteHeading")


@{
    
    string returnUrl = Request.Url.PathAndQuery;
    string createScreenName = string.Format("{0} - {1}", "Create", Model.FullName());
    Model.MenuManager.BreadCrumbManager.Push(Model.MenuManager.MenuState.MenuDisplayName, returnUrl);
    
    
}







@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Partial(@"_FieldsOnlyEditFormat")
    @Html.Partial(@"ViewControls/Delete/_DeleteControls")
}

<div>
    <a href="@Model.MenuManager.BreadCrumbManager.Url_CurrMinusOne">Back to List</a>
</div>


