@model InterfacesLibrary.SharedNS.ICommonWithId

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string menuPathMainId = "";
    string productId = "";
    string productChildId = "";
    string selectId = "";
    string searchString = "";
    MenuENUM menuEnum = MenuENUM.EditDefault;
    
    Model.MenuManager.MenuState.ControllerCurrentName = controllerName;
    controllerName = Model.MenuManager.MenuState.CreateAndEditLink_ControllerName;
    menuPathMainId = Model.MenuManager.MenuState.MenuPathMainId;
    productId = Model.MenuManager.MenuState.ProductId;
    productChildId = Model.MenuManager.MenuState.ProductChildId;
    selectId = Model.MenuManager.SelectedId;
    searchString = Model.MenuManager.SearchString;
    menuEnum = Model.MenuManager.MenuState.MenuEnum;

    string returnUrl = Request.Url.PathAndQuery;
    string editScreenName = string.Format("{0} - {1}", "Edit", Model.FullName());
    Model.MenuManager.BreadCrumbManager.Push(editScreenName, returnUrl);
    string urlMinusOne = Model.MenuManager.BreadCrumbManager.Url_CurrMinusOne;
    
}
    
    


@*@Html.Partial(@"ViewControls/Edit/_breadCrumbs - Edit")*@
@Html.Partial(@"ViewControls/BreadCrumbs/_newBreadCrumbs", @Model.MenuManager.BreadCrumbManager)
@Html.Partial(@"ViewControls/Edit/_EditHeading")

@{
    
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
}

@using (Html.BeginForm(actionName, @controllerName, new { menuPathMainId = menuPathMainId, productId = productId, returnUrl = returnUrl, productChildId = productChildId, menuEnum = menuEnum, selectId = selectId, searchString = searchString }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Partial("_messages")

    
        <div class="row">
            <div class="col-8">
                @Html.Partial(@"_FieldsOnlyEditFormat")
            </div>

            <div class="col-4">
                @Html.Partial(@"ViewControls/Uploads/_ShowUploads")
            </div>
        </div>

    <div class="row">
        @Html.Partial(@"ViewControls/Edit/_EditControls")
    </div>

}

<div>
        <a href="@urlMinusOne">Back to List</a>
</div>
