@*https://getbootstrap.com/docs/4.0/components/breadcrumb/*@

@*@model ModelsClassLibrary.ViewModels.IndexListVM*@
@model ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.IHaveMenuManager

    @{

        //string menuPathMainId = Model.MenuManager.MenuPathMainId;
        //string productId = Model.MenuManager.ProductId;
        //string productChildId = Model.MenuManager.ProductChildId;
        //string returnUrl = Model.MenuManager.ReturnUrl;
        //string selectId = Model.MenuManager.SelectId;
        //string searchFor = Model.MenuManager.SearchString;
        //MenuLevelENUM previousMenuLevelEnum = Model.MenuManager.GetPreviousMenuLevel();
        //SortOrderENUM sortBy = Model.SortOrderEnum;

        string linkTextMenuPath1 = Model.MenuManager.MenuPath1Name;
        string linkTextMenuPath2 = Model.MenuManager.MenuPath2Name;
        string linkTextMenuPath3 = Model.MenuManager.MenuPath3Name;
        string linkTextMenuPath4 = Model.MenuManager.MenuPath4Name;
        string LinkTextNebyPath5 = Model.MenuManager.MenuPath5Name;
        MenuLevelENUM menuLevelEnum = Model.MenuManager.MenuLevelEnum;


    }



    @if(Model.MenuManager.IsMenu)
    {


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @switch (menuLevelEnum)
            {
                case MenuLevelENUM.unknown:
                    break;
                    
                case MenuLevelENUM.Level_1:
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_Home.cshtml")
                    <li class="breadcrumb-item active" aria-current="page">@linkTextMenuPath1</li>
                    break;
                    
                case MenuLevelENUM.Level_2:
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_Home.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc2.cshtml")
                    <li class="breadcrumb-item active" aria-current="page">@linkTextMenuPath2</li>
                    break;
                    
                case MenuLevelENUM.Level_3:

                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_Home.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc2.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc3.cshtml")
                    <li class="breadcrumb-item active" aria-current="page">@linkTextMenuPath3</li>
                    break;


                case MenuLevelENUM.Level_4:
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_Home.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc2.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc3.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc4.cshtml")
                    <li class="breadcrumb-item active" aria-current="page">@linkTextMenuPath4</li>
                    break;

                case MenuLevelENUM.Level_5:
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_Home.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc2.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc3.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc4.cshtml")
                    @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc5.cshtml")
                    <li class="breadcrumb-item active" aria-current="page">@LinkTextNebyPath5</li>
                    break;
                case MenuLevelENUM.Level_6:
                @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_Home.cshtml")
                @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc2.cshtml")
                @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc3.cshtml")
                @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc4.cshtml")
                @Html.Partial(@"~/Views/Shared/ViewControls/Index/BreadCrumbs/_bc5.cshtml")
                <li class="breadcrumb-item active" aria-current="page">@LinkTextNebyPath5</li>
                    break;
                default:
                    break;
            }
        </ol>
    </nav>
    }
    else
    {
        //These are the bread crumbs outside the menu
    }

