@*https://getbootstrap.com/docs/4.0/components/breadcrumb/*@

@model ModelsClassLibrary.ViewModels.IndexListVM


    @{
        //string home = Url.Action("index", "Home", new { id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id, menuLevelEnum = Model.MenuManager.MenuLevelEnum });



        //string category1 = Url.Action("index", "Menu", new { id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id, menuLevelEnum = Model.MenuManager.MenuLevelEnum });

        

        string linkTextHome = "Admin Home";
        string linkTextMenuPath1 = "All";
        string linkTextMenuPath2 = Model.MenuManager.MenuPath1Name;
        string linkTextMenuPath3 = Model.MenuManager.MenuPath2Name;
        string linkTextProductLevel = Model.MenuManager.MenuPath3Name;

        string actionName = "index";

    }

    @if(Model.MenuManager.IsMenu)
    { 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @switch (@Model.MenuManager.MenuLevelEnum)
            {
                case MenuLevelENUM.unknown:
                    break;
                case MenuLevelENUM.Level_1:
                    <li class="breadcrumb-item">@Html.ActionLink(@linkTextHome, @actionName, "Home", null, null)</li>
                    <li class="breadcrumb-item active" aria-current="page">@linkTextMenuPath1</li>
                    break;
                case MenuLevelENUM.Level_2:
                    <li class="breadcrumb-item">@Html.ActionLink(@linkTextHome, @actionName, "Home", null, null)</li>
                    <li class="breadcrumb-item">@Html.ActionLink(linkTextMenuPath1, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.unknown, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>
                    <li class="breadcrumb-item active" aria-current="page">@linkTextMenuPath2</li>
                    break;
                case MenuLevelENUM.Level_3:

                    <li class="breadcrumb-item">@Html.ActionLink(@linkTextHome, @actionName, "Home", null, null)</li>
                    <li class="breadcrumb-item">@Html.ActionLink(linkTextMenuPath1, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.unknown, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>
                    <li class="breadcrumb-item">@Html.ActionLink(linkTextMenuPath2, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.Level_1, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>
                    <li class="breadcrumb-item active" aria-current="page">@linkTextMenuPath3</li>
                    break;
                    
                    
                case MenuLevelENUM.Level_4:
                    <li class="breadcrumb-item">@Html.ActionLink(@linkTextHome, @actionName, "Home", null, null)</li>
            
                    <li class="breadcrumb-item">@Html.ActionLink(linkTextMenuPath1, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.unknown, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>
            
                    <li class="breadcrumb-item" >@Html.ActionLink(linkTextMenuPath2, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.Level_1, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>
            
                    <li class="breadcrumb-item" >@Html.ActionLink(linkTextMenuPath3, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.Level_2, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>
                    <li class="breadcrumb-item active" aria-current="page">@linkTextProductLevel</li>
                    break;

                case MenuLevelENUM.Level_5:
                <li class="breadcrumb-item">@Html.ActionLink(@linkTextHome, @actionName, "Home", null, null)</li>

                <li class="breadcrumb-item">@Html.ActionLink(linkTextMenuPath1, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.unknown, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>

                <li class="breadcrumb-item">@Html.ActionLink(linkTextMenuPath2, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.Level_1, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>

                <li class="breadcrumb-item">@Html.ActionLink(linkTextMenuPath3, "Index", new { searchFor = Model.SearchFor, selectedId = Model.SelectedId, menuLevelEnum = MenuLevelENUM.Level_2, sortBy = Model.SortOrderEnum, id = "", menuPath1Id = Model.MenuManager.MenuPath1Id, menuPath2Id = Model.MenuManager.MenuPath2Id, menuPath3Id = Model.MenuManager.MenuPath3Id }) </li>
                <li class="breadcrumb-item active" aria-current="page">@linkTextProductLevel</li>
                    break;

                default:
                    break;
            }
        </ol>
    </nav>
    }
    else
    {
        //These are the bread crumbs outside the menu
    }

