@model ModelsClassLibrary.MenuNS.MenuPathMain

@Html.HiddenFor(x => x.MenuPath1Id)
@Html.HiddenFor(x => x.MenuPath2Id)
@Html.HiddenFor(x => x.MenuPath3Id)


    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.MenuPath1Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.MenuPath1Id,
                              (@ViewBag.MenuPath1SelectList as IEnumerable<SelectListItem>),
                                    "--- Select Menu 1 ---",
                                    new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuPath2Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.MenuPath2Id,
                              (@ViewBag.MenuPath2SelectList as IEnumerable<SelectListItem>),
                                             "--- Select Menu 2 ---",
                                    new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuPath3Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.MenuPath3Id,
                              (@ViewBag.MenuPath3SelectList as IEnumerable<SelectListItem>),
                                             "--- Select Menu 3 ---",
                                    new { @class = "form-control" })
            </div>
        </div>

        @Html.Partial(@"_Name_And_DetailInfo")
    </div>

