@model ModelsClassLibrary.ModelsNS.ProductNS.Product


    <div class="well p-3 m-3">


    <div class="form-group">
        @Html.LabelFor(model => model.Dimensions, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Dimensions, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UomDimensions, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UomDimensionsId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(x => x.UomDimensionsId,
                                    (@ViewBag.UomLengthSelectList as IEnumerable<SelectListItem>),
                                            "--- Select UOM ---",
                                new { @class = "form-control" })
    </div>

</div>





