@model ModelsClassLibrary.ModelsNS.ProductNS.Product
<div class="well">
    @Html.Partial(@"_Name_And_DetailInfo")
    @Html.Partial(@"_WeightActual")
    @Html.Partial(@"_WeightListed")
    @Html.Partial(@"_Volume")
    @Html.Partial(@"_ProductIdentifiers")
    @Html.Partial(@"_MenuPath")
    @Html.Partial(@"_Purchase")
    @Html.Partial(@"_Parent")


</div>
<div class="well">
@Html.Partial(@"_Quantity")
@Html.Partial(@"_Dimensions")


</div>


















































