@model ModelsClassLibrary.ModelsNS.ProductNS.Product


<div class="well">

    @Html.HiddenFor(x => x.Name)

    @Html.Partial(@"_Name_And_DetailInfo")
    @Html.Partial(@"~/Views/Products/_WeightActual.cshtml")
    @Html.Partial(@"~/Views/Products/_WeightListed.cshtml")
    @Html.Partial(@"~/Views/Products/_Volume.cshtml")
    @Html.Partial(@"~/Views/Products/_ProductIdentifiers.cshtml")
    @Html.Partial(@"~/Views/Products/_ProductChildren.cshtml")
    @Html.Partial(@"~/Views/Products/_Purchase.cshtml")
    @Html.Partial(@"~/Views/Products/_Parent.cshtml")
    <hr />
        @Html.Partial(@"~/Views/Products/_MenuPath.cshtml")
    <hr />

    @Html.Partial(@"~/Views/Products/_Quantity.cshtml")
    <hr />


@Html.Partial(@"~/Views/Products/_Dimensions.cshtml")


</div>


















































