@model ModelsClassLibrary.ModelsNS.ProductNS.Product
@{int count = 0;}


<div class="well p-3 m-3">
    <div class="form-group">
        <div class="control-label">
            <strong>Product Features</strong>
        </div>
        @if (!@Model.ProductFeatures.IsNull())
        {
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductFeatures.Where(x => x.MetaData.IsDeleted == false).OrderBy(x => x.Name).ToList())
                    {
                        string id = string.Format("ProductFeatures_{0}__FeatureDescription", count);
                        string name = string.Format("ProductFeatures[{0}].FeatureDescription", count);
                        string value = item.FeatureDescription;
                        string hiddenValue = item.Name;
                        string hiddenId = string.Format("ProductFeatures_{0}__Name",count);
                        string hiddenName = string.Format("ProductFeatures[{0}].Name",count);
                        
                        count++;

                        <tr>
                            <td>
                                @item.Name
                                <input 
                                       id="@hiddenId" 
                                       name="@hiddenName" 
                                       type="hidden" 
                                       value="@hiddenValue" />
                            </td>

                            <td>
                                <input class="text-box single-line"
                                       id="@id"
                                       name="@name"
                                       type="text" 
                                       value="@value" />

                                <span class="field-validation-valid text-danger"
                                      data-valmsg-for="@name"
                                      data-valmsg-replace="true"></span>




                            </td>
                        </tr>

                    }
                    @*@for (int i = 0; i < Model.ProductFeatures.Count(); i++)
                    {
                        
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.ProductFeatures[i].Name)
                                @Html.HiddenFor(model => model.ProductFeatures[i].Name)

                            </td>
                            <td>
                                @Html.EditorFor(model => model.ProductFeatures[i].FeatureDescription, new { @class = "form-control", @placeholder = "Enter Value" })
                                @Html.ValidationMessageFor(model => model.ProductFeatures[i].FeatureDescription, "", new { @class = "text-danger" })


                            </td>
                        </tr>

                    }*@
                </tbody>
            </table>
        }
    </div>
</div>

@*@for (int i = 0; i < Model.ProductFeatures.Count(); i++)
{
    string id = string.Format("ProductFeatures_{0}__Name", count);
    string name = string.Format("ProductFeatures[{0}].Name", count);
    string value = string.Format("{0}", count);
    count++;

    <tr>
        <td>
            @Html.DisplayFor(model => model.ProductFeatures[i].Name)
            @Html.HiddenFor(model => model.ProductFeatures[i].Name)

        </td>
        <td>

            @Html.EditorFor(model => model.ProductFeatures[i].FeatureDescription, new { @class = "form-control", @placeholder = "Enter Value" })
            @Html.ValidationMessageFor(model => model.ProductFeatures[i].FeatureDescription, "", new { @class = "text-danger" })


        </td>
    </tr>

}*@


@*<tr>
    <td>
        Brakes
        <input id="item_Name" name="item.Name" type="hidden" value="Brakes" />

    </td>
    <td>
        <input class="text-box single-line"
               id="ProductFeatures_0__FeatureDescription"
               name="ProductFeatures[0].FeatureDescription"
               type="text"
               value="powered" />

        <span class="field-validation-valid text-danger"
              data-valmsg-for="ProductFeatures[0].FeatureDescription"
              data-valmsg-replace="true"></span>





    </td>
</tr>*@


@*<tr>
    <td>
        Engine Size
        <input 
               id="ProductFeatures_0__Name" 
               name="ProductFeatures[0].Name" 
               type="hidden" 
               value="Engine Size" />

    </td>
    <td>
        <input class="text-box single-line" id="ProductFeatures_0__FeatureDescription" name="ProductFeatures[0].FeatureDescription" type="text" value="4000" />
        <span class="field-validation-valid text-danger" data-valmsg-for="ProductFeatures[0].FeatureDescription" data-valmsg-replace="true"></span>


    </td>
</tr>*@



@*<tr>
    <td>
        Engine Size
        <input id="ProductFeatures_0__Name" name="ProductFeatures[0].Name" type="hidden" value="Engine Size" />

    </td>
    <td>

        <input class="text-box single-line" id="ProductFeatures_0__FeatureDescription" name="ProductFeatures[0].FeatureDescription" type="text" value="3000 cc" />
        <span class="field-validation-valid text-danger" data-valmsg-for="ProductFeatures[0].FeatureDescription" data-valmsg-replace="true"></span>


    </td>
</tr>*@
