@model ModelsClassLibrary.ModelsNS.ProductNS.Product
@{
    int count = 0;
    string childReturnUrl = Request.Url.PathAndQuery;
}


<div class="well p-3  w-100">
    <div class="form-group">
        @*<div class="control-label">
                @Html.ActionLink("Add Another Feature", "Create", "ProductFeatures", new { productId = Model.Id }, new { @class = "btn btn-success" })
            </div>*@
        @if (!@Model.ProductFeatures.IsNull())
        {



            @Html.ActionLink("Add Feature", "AddFeature", "ProductFeatures", new { productId = Model.Id, returnUrl = childReturnUrl, parentName = Model.FullName() }, new { @class = "btn btn-info mb-2" })

            <table class="table table-striped table-hover table-info">
                @{
            var features = Model.ProductFeatures_Fixed;
                }


                <tr>
                    <th>Sr #</th>
                    <th>
                        Feature Name
                    </th>
                    <th>Description</th>
                    <th></th>
                </tr>

                @if (features.IsNull())
                {
                    <tr>
                        <td>
                            <span>No Added Features</span>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in features)
                    {
                        string editToolTip = string.Format("Edit: {0}", item.Name);
                        string deleteToolTip = string.Format("Delete: {0}. You can also make it's value empty which will make it seem that it is deleted. ", item.Name);
                        count++;
                        string delete_Product_Features_Path = Url.Action("Delete", "ProductFeatures", new { id = item.Id, returnUrl = childReturnUrl });
                        //string edit_Product_Features_Path = "";
                        string edit_Product_Features_Path = Url.Action("Edit", "ProductFeatures", new { id = item.Id, returnUrl = childReturnUrl });
                        string disableDeleteButton = "";
                        if (item.IsMenuFeature)
                        {
                            disableDeleteButton = " disabled ";
                        }
                        <tr>
                            <td>
                                @count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.EditorFor(model => item.Comment, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", height = 1 } })
                                    @if (item.IsMenuFeature)
                                    {
                                        <small class="text-danger">computer generated feature</small>
                                    }
                                </div>

                            </td>
                            <td>
                                <button data-toggle="tooltip"
                                        title="@editToolTip"
                                        data-placement="top"
                                        onclick="openPath('@edit_Product_Features_Path')"
                                        class="btn btn-success btn-sm m-1">
                                    <img width="20" src="~/ContentMine/Icons/Edit.png" />
                                </button>



                                <button type="button"
                                        data-toggle="tooltip"
                                        title="@deleteToolTip"
                                        data-placement="top"
                                        onclick="openPath('@delete_Product_Features_Path')"
                                        class="btn btn-danger btn-sm "
                                        @disableDeleteButton>

                                    <img width="20" src="~/ContentMine/Icons/GarbageCan.png" />
                                </button>
                            </td>
                        </tr>
                    }
                }

            </table>
        }
    </div>
</div>
