@model ModelsClassLibrary.ModelsNS.ProductNS.Product



<div class="well p-3 m-3">



    <div class="form-group  form-inline">
        @Html.LabelFor(model => model.WeightListed, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.WeightListed, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Listed Weight" } })
        @Html.ValidationMessageFor(model => model.WeightListed, "", new { @class = "text-danger" })
        @Html.DropDownListFor(x => x.UomWeightListedId,
                                       (@ViewBag.UomWeightSelectList as IEnumerable<SelectListItem>),
                                        "--- Select UoM Weight ---",
                                        new { @class = "form-control" })
    </div>

</div>

