@model ModelsClassLibrary.ModelsNS.ProductNS.Product



<div class="container">



    <div class="form-group">
        @Html.LabelFor(model => model.WeightListed, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.WeightListed, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Listed Weight" } })
            @Html.ValidationMessageFor(model => model.WeightListed, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(x => x.UomWeightListedId,
                                       (@ViewBag.UomWeightSelectList as IEnumerable<SelectListItem>),
                                        "--- Select UoM Weight ---",
                                        new { @class = "form-control" })
        </div>
    </div>

</div>

