@model ModelsClassLibrary.ModelsNS.FeaturesNS.MenuFeatureNS.MenuPath1Feature


<div class="form-group">
    @Html.LabelFor(model => model.MenuFeatureId, htmlAttributes: new { @class = "" })
    @Html.DropDownListFor(x => x.MenuFeatureId,
           (@Model.SelectListMenuFeature as IEnumerable<SelectListItem>),
             "--- Feature Name ---",
             new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MenuPath1Id, htmlAttributes: new { @class = "" })
    @Html.DropDownListFor(x => x.MenuPath1Id,
           (@Model.SelectListMenuPath1 as IEnumerable<SelectListItem>),
             "--- Menu Path 1 ---",
             new { @class = "form-control" })
</div>



