@using AliKuli.Extentions;
@using System.Linq;
@using System.Data.Entity;

@model InterfacesLibrary.SharedNS.ICommonWithId

@{    var modelHasUploadsSingle = Model as InterfacesLibrary.SharedNS.FeaturesNS.IHasUploads;}


@if (modelHasUploadsSingle != null)
{

    var userUpload = ViewBag.userUpload as ICollection<ModelsClassLibrary.ModelsNS.UploadedFileNS.UploadedFile>;

    <div class="form-group">
        <div class="control-label col-md-2"><strong>@ViewBag.panelHeading</strong></div>
    </div>





    <div class="form-group">
        <label class="col-sm-3 control-label">
            Attachment(s)
            (Attach multiple files.)
        </label>
        <div class="col-sm-9">
            <span class="btn btn-default btn-file">
                <input id="input2" name="@ViewBag.httpUpload" type="file" class="file" multiple data-show-upload="true" data-show-caption="true" data-theme="fas">
            </span>
        </div>
    </div>



    if (userUpload != null)
    {

        string returnUrl = Url.Action("Edit", new { productCatId = modelHasUploadsSingle.Id });



        foreach (ModelsClassLibrary.ModelsNS.UploadedFileNS.UploadedFile uploadedFile in userUpload.Where(x => x.MetaData.IsDeleted == false))
        {
            string imagePath = Url.Content(uploadedFile.RelativePathWithFileName());
            string actionPath = Url.Action("Edit", "UploadedFiles", new { id = uploadedFile.Id, returnUrl = returnUrl });


            <span class="col-md-12 thumbnail img-responsive img-rounded">

                <a href="@actionPath" title="@uploadedFile.OrignalCompleteName @uploadedFile.FullName()">
                    <img src="@imagePath" alt="Image" class="img-responsive img-thumbnail" height="50" width="50" style="  border:1px solid blue;" >
                </a>
            </span>
        }
    }
    else
    {
        <div class="container text-center text-info">
            <h4>No Pictures uploaded!</h4>

        </div>
    }


}
