@model ModelsClassLibrary.ModelsNS.DocumentsNS.BuySellDocNS.BuySellDoc



@if (Model.UserParameter.IsSalesman)
{

    if (Model.CustomerSalesmanId == Model.UserParameter.SalesmanId)
    {


        @*<div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Health</strong>
                    <h6 class="mb-0">
                        <a class="text-dark" href="#">Food for Thought: Diet and Brain Health</a>
                    </h6>
                    <div class="mb-1 text-muted small">Nov 11</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-success btn-sm" href="http://www.jquery2dotnet.com/">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/nature" style="width: 200px; height: 250px;">
            </div>*@





        <div class="card lh-0-75-em" >
            <div class="card-header background-ltgrey text-center">
                <strong>Customer Commission</strong>
            </div>

            <div class="card-Body p-2 text-center">
                <div class="card-title ">
                    <small><strong>Customer</strong> belongs to you.</small>
                </div>

                <label><small><strong>Sale:</strong></small> </label>
                <span><small>@Model.TotalInvoiceLessFreight.ToString().ToRuppeeFormat()</small> </span>
                <br />

                <label><small><strong>Percent:</strong></small> </label>
                <span><small>@Model.CustomerSalesmanCommission.Percent%</small> </span>
                <br />

                <label><small><strong>Commission:</strong></small> </label>
                <span class="background-ltblue pl-1 pr-1"><small>@Model.CustomerSalesmanCommission.Amount.ToString().ToRuppeeFormat()</small> </span>

            </div>
        </div>


    }

    if (Model.OwnerSalesmanId == Model.UserParameter.SalesmanId)
    {

        <div class="card lh-0-75-em">

            <div class="card-header background-ltgrey text-center">
                <strong>Seller Commission</strong>
            </div>

            <div class="card-Body p-2  text-center">
                <div class="card-title">
                    <small><strong>Seller</strong> belongs to you.</small>
                </div>
                <p>
                    <label class=""><small><strong>Sale:</strong></small> </label>
                    <span><small>@Model.TotalInvoiceLessFreight.ToString().ToRuppeeFormat()</small> </span>
                </p>
                <p>
                    <label><small><strong>Percent:</strong></small> </label>
                    <span><small>@Model.OwnerSalesmanCommission.Percent%</small> </span>
                </p>

                <label><small><strong>Commission:</strong></small> </label>
                <span class="background-ltblue pl-1 pr-1"><small>@Model.OwnerSalesmanCommission.Amount.ToString().ToRuppeeFormat()</small> </span>

            </div>
        </div>

    }

    if (Model.DeliverymanSalesmanId == Model.UserParameter.SalesmanId)
    {

        <div class="card lh-0-75-em">

            <div class="card-header background-ltgrey text-center">
                <strong>Deliveryman Commission</strong>
            </div>

            <div class="card-Body p-2 text-center">
                <div class="card-title ">
                    <small><strong>Deliveryman</strong> belongs to you.</small>
                </div>

                <label><small><strong>Sale:</strong></small> </label>
                <span><small>@Model.Freight_Accepted.ToString().ToRuppeeFormat()</small> </span>
                <br />

                <label><small><strong>Percent:</strong></small> </label>
                <span><small>@Model.DeliverymanSalesmanCommission.Percent%</small> </span>
                <br />

                <label><small><strong>Commission:</strong></small> </label>
                <span class="background-ltblue pl-1 pr-1"><small>@Model.DeliverymanSalesmanCommission.Amount.ToString().ToRuppeeFormat()</small> </span>

            </div>
        </div>



    }
}
