@model ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject
@{
    ViewBag.Title = "Admin Menu";
}

<h2>Admin Menu</h2>


@using (Html.BeginForm())
{

    <div class="">
        <hr />

        <h3 class="text-center">Admin Reports</h3>



        @*<a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuFeatures", null)">Menu Feature</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuPathMains", null)">Menu Path</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuPath1s", null)">Menu Path 1</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuPath2s", null)">Menu Path 2</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuPath3s", null)">Menu Path 3</a>
        
        <h3 class="text-center">Products</h3>
        
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "Products", null)">Products</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("UnapprovedProducts", "Products", null)">Products pending Approval</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("ShowHidden", "ProductChilds", null)">Products Child-Show Hidden</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "ProductFeatures", null)">Product Feature</a>*@



    </div>
}

