@model ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject
@{
    ViewBag.Title = "Bank Menu";
}

<h2>Bank Menu</h2>


@using (Html.BeginForm())
{

    <div class="">
        <hr />

        @*<a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "Products", null)">Products</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("UnapprovedProducts", "Products", null)">Products pending Approval</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "ProductFeatures", null)">Product Feature</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("DeleteAll", "Products", null)">Products -Delete All</a>

        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "ProductApprovers", null)">Products Approvers</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "ProductApproverCategories", null)">Products Approver Categories</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "ProductChilds", null)">Products Child</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("ShowHidden", "ProductChilds", null)">Products Child-Show Hidden</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("DeleteAll", "ProductChilds", null)">Products Child-Delete All</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("MarkAllProductsApprovedUtility", "Products", null)">Mark all Products Approved</a>*@

        <h3 class="text-center">Bank</h3>
        @*<a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("GetListOfPeopleCurrentUserHasSoldTo", "Salesmans", null)">Get list You have sold To/bought from</a>*@

        @*<a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuFeatures", null)">Menu Feature</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuPathMains", null)">Menu Path</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuPath1s", null)">Menu Path 1</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuPath2s", null)">Menu Path 2</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "MenuPath3s", null)">Menu Path 3</a>
        
        <h3 class="text-center">Products</h3>
        
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "Products", null)">Products</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("UnapprovedProducts", "Products", null)">Products pending Approval</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("ShowHidden", "ProductChilds", null)">Products Child-Show Hidden</a>
        <a class="btn btn-lg btn-default text-danger  w-100 m-1" href="@Url.Action("Index", "ProductFeatures", null)">Product Feature</a>*@



    </div>
}

