@model ModelsClassLibrary.ModelsNS.ServiceRequestNS.ServiceRequestHdrNS.ServiceRequestHdr

@{
    int count = 0;
}

    @Html.Partial(@"_Name_And_DetailInfo")


    <div class="form-group">
        @Html.LabelFor(model => model.PersonFromId, htmlAttributes: new { @class = "" })
        @Html.DropDownListFor(x => x.PersonFromId,
                          (@Model.SelectListPersonFrom as IEnumerable<SelectListItem>),
                  "--- Select From Person ---",
                  new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.PersonToId, htmlAttributes: new { @class = "" })
        @Html.DropDownListFor(x => x.PersonToId,
             (@Model.SelectListPersonTo as IEnumerable<SelectListItem>),
                  "--- Select To Person ---",
                  new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RequestTypeEnum, htmlAttributes: new { @class = "" })
        @Html.DropDownListFor(x => x.RequestTypeEnum,
                      (@Model.SelectListRequestTypeEnum as IEnumerable<SelectListItem>),
                  "--- Select Request Type ---",
                  new { @class = "form-control" })
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.ServiceRequestStatusEnum, htmlAttributes: new { @class = "" })
        @Html.DropDownListFor(x => x.ServiceRequestStatusEnum,
                               (@Model.SelectListServiceRequestStatusEnum as IEnumerable<SelectListItem>),
                           "--- Select Service Request Status ---",
                  new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.DocumentNo, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DocumentNo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>


<div class="row m-2">
    <div class="col"><h3>List of Service Request Transactions</h3></div>

</div>

    @if(Model.ServiceRequestTrxs_Fixed.IsNullOrEmpty())
    {
        <div class="row bg-danger text-white m-2" >
            <div class="col">
                No Transactions

            </div>
        </div>
    }
    else
    {
    <div class="row">
        <div class="col">Sr#</div>
        <div class="col">Name</div>
        <div class="col">Amount</div>
        <div class="col">Comment</div>
    </div>

        foreach (var serviceRequestTrx in Model.ServiceRequestTrxs_Fixed)
        {
            count++;
                  
            <div class="row">
                <div class="col">@count.)</div>
                <div class="col">@serviceRequestTrx.Name</div>
                <div class="col">@serviceRequestTrx.Commission.Amount</div>
                <div class="col">@serviceRequestTrx.Comment</div>
            </div>

        }

    }



