@model ModelsClassLibrary.ModelsNS.ServiceRequestNS.ServiceRequestHdrNS.ServiceRequestHdr

@{
    int count = 0;
}

    @Html.Partial(@"_Name_And_DetailInfo")


    <div class="form-group">
        @Html.LabelFor(model => model.PersonFromId, htmlAttributes: new { @class = "" })
        @Html.DropDownListFor(x => x.PersonFromId,
                          (@Model.SelectListPersonFrom as IEnumerable<SelectListItem>),
                  "--- Select From Person ---",
                  new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.PersonToId, htmlAttributes: new { @class = "" })
        @Html.DropDownListFor(x => x.PersonToId,
             (@Model.SelectListPersonTo as IEnumerable<SelectListItem>),
                  "--- Select To Person ---",
                  new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RequestTypeEnum, htmlAttributes: new { @class = "" })
        @Html.DropDownListFor(x => x.RequestTypeEnum,
                      (@Model.SelectListRequestTypeEnum as IEnumerable<SelectListItem>),
                  "--- Select Request Type ---",
                  new { @class = "form-control" })
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.ServiceRequestStatusEnum, htmlAttributes: new { @class = "" })
        @Html.DropDownListFor(x => x.ServiceRequestStatusEnum,
                               (@Model.SelectListServiceRequestStatusEnum as IEnumerable<SelectListItem>),
                           "--- Select Service Request Status ---",
                  new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.DocumentNo, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DocumentNo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>

<div class="form-check-inline">
    @Html.CheckBoxFor(model => model.IsReceipt)
    @Html.LabelFor(model => model.IsReceipt, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
</div>


