@model IEnumerable< ModelsClassLibrary.ModelsNS.ServiceRequestNS.ServiceRequestHdrNS.ServiceRequestVM>

@{
    ViewBag.Title = "ListOfPeopleWantingJobs";
}

<h2>People wanting jobs</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            User Name
        </th>
        <th>
            Wants To...
        </th>
        <th></th>
    </tr>

    @if (Model.IsNull())
    { }
    else
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.ServiceRequestTypeEnum.ToString().ToTitleSentance()
                </td>
                <td>
                    @Html.ActionLink("Purchase Name", "AssignUserToServiceRequestHdr", new { serviceRequestHdrId = item.ServiceRequestHdrId }, new { @class = "btn btn-success" }) 
                </td>
            </tr>
        }

    }
</table>
