@model ModelsClassLibrary.ModelsNS.PeopleNS.PlayersNS.MailerNS.MailerVMForAssigningVerifList





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        
    string pakistanPostBtn = string.Format("Pakistan Post [{0}]", Model.Pakistan_Postal_Verifications_Available);
    string pakistanCourierBtn = string.Format("Pakistan Courier [{0}]", Model.Pakistan_Courier_Verifications_Available);
    string foreignPostBtn = string.Format("Foriegn Postal [{0}]", Model.Foreign_Postal_Verifications_Available);
    string foreignCourierBtn = string.Format("Foriegn Courier [{0}]", Model.Foreign_Postal_Verifications_Available);

    string pkPost = Model.Pakistan_Postal_Verifications_Available > 0 ? "" : "disabled";
    string pkCourier = Model.Pakistan_Courier_Verifications_Available > 0 ? "" : "disabled";
    string foreignPost = Model.Foreign_Postal_Verifications_Available > 0 ? "" : "disabled";
    string foreignCourier = Model.Foreign_Postal_Verifications_Available > 0 ? "" : "disabled";
    

    <div class="form-horizontal m-5">
        <h4>Get Verification Letters</h4>
        <hr />
        @Html.Partial("_messages")

        
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(x => x.MailerId)

        <div class="form-group">
            @Html.LabelFor(model => model.Total_Open_Mailings_For_Mailer, htmlAttributes: new { @class = "" }): 
            <strong> @Html.DisplayFor(model => model.Total_Open_Mailings_For_Mailer)</strong>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total_Mails_Awaiting_Costs, htmlAttributes: new { @class = "" }):
            <strong> @Html.DisplayFor(model => model.Total_Mails_Awaiting_Costs)</strong>
        </div>

        @*Print letters*@

        <div id="verificationListId">
            @Html.Partial("_verificationList")
        </div>


        <input type="submit" name="name" value="@pakistanPostBtn" formaction="PakistanPost" @pkPost class="btn btn-success m-3"/><br />
        <input type="submit" name="name" value="@pakistanCourierBtn" formaction="PakistanCourier" @pkCourier class="btn btn-success m-3" /><br />
        <input type="submit" name="name" value="@foreignPostBtn" formaction="ForeignPost" @foreignPost class="btn btn-dark m-3" /><br />
        <input type="submit" name="name" value="@foreignCourierBtn" formaction="ForeignCourier" @foreignCourier class="btn btn-dark m-3" /><br />

        
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
