@model ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject

@{
    ViewBag.Title = "ShowCashMenu";
    
    
    
    //ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount moneyAccount = ViewBag.MoneyAccount as ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount ?? new ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount();



    string amountRefundableMenuItem = Model.Money_System.Refundable.MenuName;
    string amountRefundableToolTip = Model.Money_System.Refundable.MenuToolTip;
    string amountRefundableMenu_Path = Url.Action("DebitCredit_Refundable_All_Admin", "CashTrxs").ToString();

    string amountNotRefundableMenuItem = Model.Money_System.Non_Refundable.MenuName;
    string amountNotRefundableToolTip = Model.Money_System.Non_Refundable.MenuToolTip;
    string amountNotRefundableMenu_Path = Url.Action("DebitCredit_NonRefundable_All_Admin", "CashTrxs").ToString();

    string amountRefundableAndNonRefundableMenuItem = Model.Money_System.TotalCash.MenuName;
    string amountRefundableAndNonRefundableToolTip = Model.Money_System.TotalCash.MenuToolTip;
    string amountRefundableAndNonRefundable_Path = Url.Action("DebitCredit_TotalRefundableAndNonRefundable_All_Admin", "CashTrxs").ToString(); ;

    string amountRefundableAndNonRefundable = Model.Money_System.TotalCash.MenuName;
    
}

<h2 class="text-danger">System Cash Position</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container p-3 ">
        <hr />

        <a class="btn btn-lg btn-default w-100" href="@amountRefundableMenu_Path" data-toggle="tooltip" title="@amountRefundableToolTip" data-placement="left">@amountRefundableMenuItem</a>
        <br />
        <a class="btn btn-lg btn-default  w-100" href="@amountNotRefundableMenu_Path" data-toggle=" tooltip" title="@amountNotRefundableToolTip" data-placement="left">@amountNotRefundableMenuItem</a>
        <br />
        <a class="btn btn-lg btn-default w-100" href="@amountRefundableAndNonRefundable_Path " data-toggle=" tooltip" title="@amountRefundableAndNonRefundableToolTip" data-placement="left">@amountRefundableAndNonRefundableMenuItem</a>
    </div>
    <br />
}


