@*@model ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount*@

@{
    ViewBag.Title = "Show Cash";
    
    
    
    ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount moneyAccount = ViewBag.MoneyAccount as ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount ?? new ModelsClassLibrary.ModelsNS.MenuNS.MenuManagerNS.UserMoneyAccount();

    string amountRefundableMenuItem = moneyAccount.PersonCash.Refundable.MenuItem;
    string amountRefundableToolTip = moneyAccount.PersonCash.Refundable.ToolTip;
    string amountRefundableMenu_Path = Url.Action("DebitCredit_Refundable", "CashTrxs").ToString(); 

    string amountNotRefundableMenuItem = moneyAccount.PersonCash.NonRefundable.MenuItem;
    string amountNotRefundableToolTip = moneyAccount.PersonCash.NonRefundable.ToolTip;
    string amountNotRefundableMenu_Path = Url.Action("DebitCredit_NonRefundable", "CashTrxs").ToString();

    string amountRefundableAndNonRefundableMenuItem = moneyAccount.PersonCash.Total.MenuItem;
    string amountRefundableAndNonRefundableToolTip = moneyAccount.PersonCash.Total.ToolTip;
    string amountRefundableAndNonRefundable_Path = Url.Action("DebitCredit_TotalRefundableAndNonRefundable", "CashTrxs").ToString(); ;
    string amountRefundableAndNonRefundable = moneyAccount.PersonCash.Total_AmountOnly.MenuItem;



    
}

<h2 class="text-info">Your Cash Position</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container p-3 ">
        <hr />

        <a class="btn btn-lg btn-default w-100" href="@amountRefundableMenu_Path" data-toggle="tooltip" title="@amountRefundableToolTip" data-placement="left">@amountRefundableMenuItem</a>
        <br />
        <a class="btn btn-lg btn-default  w-100"  href="@amountNotRefundableMenu_Path" data-toggle=" tooltip" title="@amountNotRefundableToolTip" data-placement="left">@amountNotRefundableMenuItem</a>
        <br />
        <a class="btn btn-lg btn-default w-100" href="@amountRefundableAndNonRefundable_Path " data-toggle=" tooltip" title="@amountRefundableAndNonRefundableToolTip" data-placement="left">@amountRefundableAndNonRefundableMenuItem</a>
        </div>
    <br />
}

