@model ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject


@{
    ViewBag.Title = "Show Cash";



    //ModelsClassLibrary.ModelsNS.DocumentsNS.MoneyAndCountClass.MoneyItemParent moneyItemParent = ViewBag.MoneyItemParent as ModelsClassLibrary.ModelsNS.DocumentsNS.MoneyAndCountClass.MoneyItemParent ?? new ModelsClassLibrary.ModelsNS.DocumentsNS.MoneyAndCountClass.MoneyItemParent();

    string amountRefundableMenuItem = Model.Money_User.Refundable.MenuName;
    string amountRefundableToolTip = Model.Money_User.Refundable.MenuToolTip;
    string amountRefundableMenu_Path = Url.Action("DebitCredit_Refundable_All", "CashTrxs").ToString();

    string amountNotRefundableMenuItem = Model.Money_User.Non_Refundable.MenuName;
    string amountNotRefundableToolTip = Model.Money_User.Non_Refundable.MenuToolTip;
    string amountNotRefundableMenu_Path = Url.Action("DebitCredit_NonRefundable_ALL", "CashTrxs").ToString();

    string amountRefundableAndNonRefundableMenuItem = Model.Money_User.TotalCash.MenuName;
    string amountRefundableAndNonRefundableToolTip = Model.Money_User.TotalCash.MenuToolTip;
    string amountRefundableAndNonRefundable_Path = Url.Action("DebitCredit_Total_Refundable_And_NonRefundable_All", "CashTrxs").ToString(); ;

    string amountRefundableAndNonRefundable = Model.Money_User.TotalCash.MenuName;



    
}

<h2 class="text-info">Your Cash Position</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container p-3 ">
        <hr />

        <a class="btn btn-lg btn-default w-100" href="@amountRefundableAndNonRefundable_Path " data-toggle=" tooltip" title="@amountRefundableAndNonRefundableToolTip" data-placement="left">@amountRefundableAndNonRefundableMenuItem</a>
        <br />
        <a class="btn btn-lg btn-default w-100" href="@amountRefundableMenu_Path" data-toggle="tooltip" title="@amountRefundableToolTip" data-placement="left">@amountRefundableMenuItem</a>
        <br />
        <a class="btn btn-lg btn-default  w-100"  href="@amountNotRefundableMenu_Path" data-toggle=" tooltip" title="@amountNotRefundableToolTip" data-placement="left">@amountNotRefundableMenuItem</a>
        </div>
    <br />
}

