@model ModelsClassLibrary.ModelsNS.DashBoardNS.DashBoardSingle

@{

    int count = 0;
    string accordianName = "accordian" + DateTime.Now.Ticks.ToString();
    string accordianNameWithPound = "#" + accordianName;
    string ajaxDivIdName = "divId";
}





<div id="@accordianName">
    @{
    string collapseHref = "collapse" + DateTime.Now.Ticks.ToString();
    string collapseHrefWithPound = "#" + collapseHref;
    string collapseClass = "collapse";

    }


    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="@collapseHrefWithPound">
                <h5>All the data</h5>
            </a>
        </div>

        <div id="@collapseHref" class="@collapseClass" data-parent="@accordianNameWithPound">

            <div class="card-body">
                @if (Model.DataDetail.IsNullOrEmpty())
                {
                    <span>Sorry. No data report</span>
                }
                else
                {
                    <h6>This is all the data</h6>
                    @Html.Partial("_dataDashboardSingle", Model);



                }

            </div>
        </div>
    </div>






    @foreach (var item in Model.DataGrouped)
    {
        ++count;
        collapseHref = "collapse" + item.GroupName + count;
        collapseHrefWithPound = "#" + collapseHref;
        collapseClass = "collapse";
        ajaxDivIdName = "div" + count;
        
        <div class="card">
            <div class="card-header">
                    @*@if (item.DataGrouped.IsNullOrEmpty() && item.DataDetail.IsNullOrEmpty())
                    {
                        <a class="card-link" data-toggle="collapse" href="@collapseHrefWithPound">
                                @count. @item.DisplayName
                        </a>
                    }
                    else
                    {*@
                        @*<a class="card-link" data-toggle="collapse" href="@collapseHrefWithPound">
                            @count. @item.DisplayName
                        </a>*@

                        @{string displayName = count + ". " + item.DisplayName;
    }

                        <a class="card-link" data-toggle="collapse" href="@collapseHrefWithPound">
                            @displayName
                        </a>

@*                    }*@
            </div>
            <div id="@collapseHref" class="@collapseClass" data-parent="@accordianNameWithPound">

                <div class="card-body" >
                    @foreach (var itemLvl2 in item.DataGrouped)
                    {
                        
                        if (itemLvl2.DataGrouped.IsNullOrEmpty() && itemLvl2.DataDetail.IsNullOrEmpty())
                        {
                            //Html.Partial("_dataDashboardSingle", itemLvl2);

                        }
                        else
                        {
                            string displayName2 = count + ". " + itemLvl2.DisplayName;
                            @Ajax.ActionLink(displayName2, "GetAjaxData", "DashBoard", new { key = itemLvl2.Key, beginDate = itemLvl2.BeginDate, endDate = itemLvl2.EndDate, dataType = ModelsClassLibrary.ModelsNS.DashBoardNS.DashBoardSingle.NextDataType(itemLvl2.DataType) }, new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = ajaxDivIdName,
                                    AllowCache = false,


                                }, new { @class = "" })
                        }

                    }
                        
                </div>
            </div>
        </div>
    }
</div>





























