@model List<ModelsClassLibrary.ModelsNS.DashBoardNS.DashBoardSingle>

@{

    //int innerCount = 0;
    int outterCount = 0;
    string accordianId = "accordian" + Guid.NewGuid().ToString().Substring(0, 5);
    string accordianIdWithPound = "#" + accordianId;
    string ajaxIdWithPound = "";
    }

<div id="@accordianId">


    @foreach (var item in Model)
    {
        string guid = Guid.NewGuid().ToString().Substring(0, 5);
        outterCount++;
        string ajaxId = "ajax" + guid;
        ajaxIdWithPound += "#" + ajaxId;
        
        string displayName = outterCount + ". " + item.NameCalculated;
        string cardBodyId2 = "child" + guid;
        string cardBodyId2WithPound = "#" + cardBodyId2;
        string controllerName = "DashBoard";
        string actionName = "GetAjax";
        
        <div class="card">
            <div class="card-header">
                        <span data-toggle="collapse" class="card-link" href="@cardBodyId2WithPound">

                        
                            @Ajax.ActionLink(
                                    displayName,
                                    actionName,
                                    controllerName, new
                                    {
                                        beginDate = item.BeginDate,
                                        endDate = item.EndDate,
                                        showDataBelongingTo = item.BelongsToGroup,
                                        groupBy = ModelsClassLibrary.ModelsNS.DashBoardNS.DashBoardSingle.NextGroupBy(item.GroupBy),
                                        name = item.Name,
                                    },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.ReplaceWith,
                                        UpdateTargetId = ajaxId,
                                        AllowCache = false,


                                    },
                                    new { @class = "" })
                        </span>

            </div>
            <div id="@cardBodyId2" class="collapse" data-parent="@accordianIdWithPound">
                <div class="card-body">
                    <div id="@ajaxId">
                        (Please wait... Fetching Data)
                    </div>
                </div>
            </div>
        </div>

    }


</div>







    @*<div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="@collapseHrefWithPound">
                    @displayName
                </a>
            </div>

            <div id="@collapseHref" class="@collapseClass" data-parent="@accordianNameWithPound">
                <div class="card-body">


                    @foreach (var itemLvl2 in item.DataGrouped)
                    {
                        ajaxDivIdName = "div" + DateTime.Now.Ticks + "ajax";
                        innerCount++;
                        string innercollapseHref = "innercollapse" + itemLvl2.Key + DateTime.Now.Ticks.ToString();
                        string innercollapseHrefWithPound = "#" + innercollapseHref;
                        string displayName2 = innerCount + ". " + itemLvl2.DisplayName;
                        ModelsClassLibrary.ModelsNS.DashBoardNS.DashBoardSingle ds = itemLvl2 as ModelsClassLibrary.ModelsNS.DashBoardNS.DashBoardSingle;

                        @Html.Partial("_datadashboardgroupitem", ds)


                    }
                </div>
            </div>
        </div>*@












    @*<div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="@innercollapseHrefWithPound">
                    @if (itemLvl2.DataGrouped.IsNullOrEmpty() && itemLvl2.DataDetail.IsNullOrEmpty())
                    {
                        //Html.Partial("_dataDashboardSingle", itemLvl2);

                    }
                    else
                    {
                        @Ajax.ActionLink(displayName2, "GetAjaxData", "DashBoard", new { key = itemLvl2.Key, beginDate = itemLvl2.BeginDate, endDate = itemLvl2.EndDate, dataType = ModelsClassLibrary.ModelsNS.DashBoardNS.DashBoardSingle.NextDataType(itemLvl2.DataType) }, new AjaxOptions
                                        {
                                            HttpMethod = "GET",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = ajaxDivIdName,
                                            AllowCache = false,


                                        },
                                        new { @class = "" })
                    }
                </a>

                <div id="@ajaxDivIdName"></div>

            </div>
        </div>*@















