@model ModelsClassLibrary.ModelsNS.DashBoardNS.DashBoardSingle
@using System.Linq;
@{

    //int innerCount = 0;
    int outterCount = 0;

}

<h1 class="text-center">Dashboard </h1>
@*<h5>@Model.DisplayName</h5>*@








<div id="accordion">


    @foreach (var item in Model.DataGrouped)
    {
        outterCount++;
        string displayName = outterCount + ". " + item.DisplayName;
        string cardBodyId2 = "Parent" + Guid.NewGuid().ToString().Substring(0, 5);
        string cardBodyId2WithPound = "#" + cardBodyId2;
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="@cardBodyId2WithPound">
                    <h5>@item.NameCalculated</h5>
                </a>
            </div>
            <div id="@cardBodyId2" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    @Html.Partial("_dataDashBoardGroupItem", item.DataGrouped)
                </div>
            </div>
        </div>

    }


</div>


