@model ModelsClassLibrary.ModelsNS.DocumentsNS.BuySellDocNS.BuySellDoc

@*

    We are going to assume everyything is enabled because when we disable, sometimes we need to add
    a hidden field so we do not lose the value.

*@
<div class="">
    @{
        //give view state a shorter name...
        ModelsClassLibrary.ModelsNS.DocumentsNS.BuySellDocNS.BuySellDocViewStateNS.IBuySellDocViewState viewState = Model.BuySellDocViewState;
        bool showDeliveryFormat = viewState.HD_Show_Delivery_Format;
        string titleClass = "";
    }



  

    @switch (Model.BuySellDocumentTypeEnum)
    {
        case BuySellDocumentTypeENUM.Unknown:
            break;
        case BuySellDocumentTypeENUM.Sale:
            titleClass = "bg-info text-white";
            break;
        case BuySellDocumentTypeENUM.Purchase:
            titleClass = "bg-danger text-white";
            break;
        case BuySellDocumentTypeENUM.Delivery:
            titleClass = "bg-success text-white";
            break;
        default:
            break;
    }


    <div class="row border border-dark w-100 text-center">

        <h1 class="@titleClass w-100 p-2">@Model.BuySellDocumentTypeEnum.ToString().ToTitleSentance() @*(@Model.BuySellDocStateEnum.ToString().ToTitleSentance() )*@ #@Model.DocumentNumber</h1>
    </div>



    @if (showDeliveryFormat)
    {

        @Html.Partial("PartialsFor_FieldsOnlyEditFormat/_DeliveryFormat")
    }
    else
    {

        @Html.Partial("PartialsFor_FieldsOnlyEditFormat/_NormalHeaderFormat")

    }
</div>


<div class="row border border-dark p-1 w-100">

    @Html.Partial(@"PartialsFor_FieldsOnlyEditFormat/_ListItems")
    @*@Html.Partial(@"PartialsFor_FieldsOnlyEditFormat/_Signatures")*@
    @Html.Partial(@"PartialsFor_FieldsOnlyEditFormat/_DeliveryButton")

</div>



@Html.Partial("PartialsFor_FieldsOnlyEditFormat/_MakeOffers")
@Html.Partial("PartialsFor_FieldsOnlyEditFormat/_ShowOffers")
