@model ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject


@{
    ViewBag.Title = "Delivery Orders";
    //const string SALE_ORDER_STATEMENT = "saleorderstatement";
    //ViewBag.StatementType = SALE_ORDER_STATEMENT;

    bool zeroUnconfirmedRequests = Model.Delivery.RequestUnconfirmed.IsZero;
    bool zeroConfirmedRequests = Model.Delivery.RequestConfirmed.IsZero;
    bool zeroTotal = Model.Delivery.All.IsZero;
    bool zeroInProccessOrders = Model.Delivery.InProccess.IsZero;
    bool zeroConfirmedBySeller = Model.Delivery.BeingPreparedForShipmentBySeller.IsZero;
    bool zeroConfirmedByCourier = Model.Delivery.CourierComingToPickUp.IsZero;
    bool zeroReadyForShipment = Model.Delivery.ReadyForPickup.IsZero;
    bool zeroEnroute = Model.Delivery.Enroute.IsZero;
    bool zeroDelivered = Model.Delivery.Delivered.IsZero;
    bool zeroRejected = Model.Delivery.Rejected.IsZero;
    bool zeroProblem = Model.Delivery.Problem.IsZero;
    
    string userRequestsUnconfirmedMenuItem = Model.Delivery.RequestUnconfirmed.MenuName;
    string userRequestsConfirmedMenuItem = Model.Delivery.RequestConfirmed.MenuName;
    string userTotalDeliveryOrdersMenuItem = Model.Delivery.All.MenuName;
    string userInProccessOrdersMenuItem = Model.Delivery.InProccess.MenuName;
    string userConfirmedBySellersMenuItem = Model.Delivery.BeingPreparedForShipmentBySeller.MenuName;
    string userConfirmedByCouriersMenuItem = Model.Delivery.CourierComingToPickUp.MenuName;
    string userReadyForShipmentsMenuItem = Model.Delivery.ReadyForPickup.MenuName;
    string userEnrouteMenuItem = Model.Delivery.Enroute.MenuName;
    string userDeliveredsMenuItem = Model.Delivery.Delivered.MenuName;
    string userRejectedsMenuItem = Model.Delivery.Rejected.MenuName;
    string userProblemsMenuItem = Model.Delivery.Problem.MenuName;


    string userRequestsUnconfirmedToolTip = Model.Delivery.RequestUnconfirmed.MenuToolTip;
    string userRequestsConfirmedToolTip = Model.Delivery.RequestConfirmed.MenuToolTip;
    string userTotalDeliveryToolTip = Model.Delivery.All.MenuToolTip;
    string userInProccessOrdersToolTip = Model.Delivery.InProccess.MenuToolTip;
    string userConfirmedBySellersToolTip = Model.Delivery.BeingPreparedForShipmentBySeller.MenuToolTip;
    string userConfirmedByCouriersToolTip = Model.Delivery.CourierComingToPickUp.MenuToolTip;
    string userReadyForShipmentsToolTip = Model.Delivery.ReadyForPickup.MenuToolTip;
    string userEnrouteToolTip = Model.Delivery.Enroute.MenuToolTip;
    string userDeliveredsToolTip = Model.Delivery.Delivered.MenuToolTip;
    string userRejectedsToolTip = Model.Delivery.Rejected.MenuToolTip;
    string userProblemsToolTip = Model.Delivery.Problem.MenuToolTip;

    string userRequestsUnconfirmed_Path = Url.Action("List_Delivery_RequestUnconfirmed", "BuySellDocs");
    string userRequestsConfirmed_Path = Url.Action("List_Delivery_RequestConfirmed", "BuySellDocs");
    string userTotalDelivery_Path = Url.Action("List_Delivery_All", "BuySellDocs");
    string userInProccessOrders_Path = Url.Action("List_Delivery_InProccess", "BuySellDocs");
    string userConfirmedBySellers_Path = Url.Action("List_Delivery_ConfirmedBySeller", "BuySellDocs");
    string userConfirmedByCouriers_Path = Url.Action("List_Delivery_ConfirmedByCourier", "BuySellDocs");
    string userReadyForShipments_Path = Url.Action("List_Delivery_ReadyForShipment", "BuySellDocs");
    string userEnroute_Path = Url.Action("List_Delivery_Enroute", "BuySellDocs");
    string userDelivereds_Path = Url.Action("List_Delivery_Delivered", "BuySellDocs");
    string userRejecteds_Path = Url.Action("List_Delivery_Rejected", "BuySellDocs");
    string userProblems_Path = Url.Action("List_Delivery_Problem", "BuySellDocs");
    string userCourierAccepted_Path = Url.Action("List_Delivery_CourierAccepted", "BuySellDocs");


    bool zeroCourierAcceptedByBuyerAndSeller = Model.Delivery.CourierAcceptedByBuyerAndSeller.IsZero;
    string userCourierAcceptedByBuyerAndSellerMenuItem = Model.Delivery.CourierAcceptedByBuyerAndSeller.MenuName;
    string userCourierAcceptedByBuyerAndSellerToolTip = Model.Delivery.CourierAcceptedByBuyerAndSeller.MenuToolTip;
    string userCourierAcceptedByBuyerAndSeller_Path = Url.Action("List_Delivery_CourierAcceptedByBuyerAndSeller", "BuySellDocs");
    
}

<h2 class="text-white bg-success p-2 w-100 mt-1 text-center">Delivery Orders</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">



        <h5 class="text-dark background-ltgrey  w-100 text-center p-2">Detail</h5>


        @if (zeroRejected)
        {
            <p class="text-center">You have no orders that have been rejected</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-success w-100 m-1" href="@userRejecteds_Path " data-toggle=" tooltip" title="@userRejectedsToolTip" data-placement="left">@userRejectedsMenuItem</a>
            <br />

        }



        @if (zeroProblem)
        {
            <p class="text-center">You have no orders that are a problem (lucky you)</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-success w-100 m-1" href="@userProblems_Path " data-toggle=" tooltip" title="@userProblemsToolTip" data-placement="left">@userProblemsMenuItem</a>
            <br />

        }


        @if (zeroReadyForShipment)
        {
            <p class="text-center">You have no orders Ready for Shipment </p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-success w-100 m-1" href="@userReadyForShipments_Path " data-toggle=" tooltip" title="@userReadyForShipmentsToolTip" data-placement="left">@userReadyForShipmentsMenuItem</a>
            <br />

        }

        @if (zeroCourierAcceptedByBuyerAndSeller)
        {
            <p class="text-center">You have accepted any couriers for Shipment </p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-success w-100 m-1" href="@userCourierAcceptedByBuyerAndSeller_Path " data-toggle=" tooltip" title="@userCourierAcceptedByBuyerAndSellerToolTip" data-placement="left">@userCourierAcceptedByBuyerAndSellerMenuItem</a>
            <br />

        }


        @if (zeroConfirmedByCourier)
        {
            <p class="text-center">You have no orders confirmed by courier for shipment</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-success w-100 m-1" href="@userConfirmedByCouriers_Path " data-toggle=" tooltip" title="@userConfirmedByCouriersToolTip" data-placement="left">@userConfirmedByCouriersMenuItem</a>
            <br />

        }



        @if (zeroEnroute)
        {
            <p class="text-center">You have no orders that have been picked up by the courier</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-success w-100 m-1" href="@userEnroute_Path " data-toggle=" tooltip" title="@userEnrouteToolTip" data-placement="left">@userEnrouteMenuItem</a>
            <br />

        }



        @if (zeroDelivered)
        {
            <p class="text-center">You have no orders delivered</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-success w-100 m-1" href="@userDelivereds_Path " data-toggle=" tooltip" title="@userDeliveredsToolTip" data-placement="left">@userDeliveredsMenuItem</a>
            <br />

        }







    </div>
}