@model ModelsClassLibrary.ModelsNS.DocumentsNS.MoneyAndCountClass.MoneyItemParent

@{
    ViewBag.Title = "ShowCashMenu";
    const string SALE_ORDER_STATEMENT = "saleorderstatement";
    ViewBag.StatementType = SALE_ORDER_STATEMENT;

    bool zeroUnconfirmedRequests = Model.Purchase.RequestUnconfirmed.IsZero;
    bool zeroConfirmedRequests = Model.Purchase.RequestConfirmed.IsZero;
    bool zeroTotal = Model.Purchase.All.IsZero;
    bool zeroInProccessOrders = Model.Purchase.InProccess.IsZero;
    bool zeroConfirmedBySeller = Model.Purchase.ConfirmedBySeller.IsZero;
    bool zeroConfirmedByCourier = Model.Purchase.ConfirmedByCourier.IsZero;
    bool zeroReadyForShipment = Model.Purchase.ReadyForShipment.IsZero;
    bool zeroPickedUp = Model.Purchase.PickedUp.IsZero;
    bool zeroDelivered = Model.Purchase.Delivered.IsZero;
    bool zeroRejected = Model.Purchase.Rejected.IsZero;
    bool zeroProblem = Model.Purchase.Problem.IsZero;

    string userRequestsUnconfirmedMenuItem = Model.Purchase.RequestUnconfirmed.MenuName;
    string userRequestsConfirmedMenuItem = Model.Purchase.RequestConfirmed.MenuName;
    string userTotalPurchaseOrdersMenuItem = Model.Purchase.All.MenuName;
    string userInProccessOrdersMenuItem = Model.Purchase.InProccess.MenuName;
    string userConfirmedBySellersMenuItem = Model.Purchase.ConfirmedBySeller.MenuName;
    string userConfirmedByCouriersMenuItem = Model.Purchase.ConfirmedByCourier.MenuName;
    string userReadyForShipmentsMenuItem = Model.Purchase.ReadyForShipment.MenuName;
    string userPickedUpsMenuItem = Model.Purchase.PickedUp.MenuName;
    string userDeliveredsMenuItem = Model.Purchase.Delivered.MenuName;
    string userRejectedsMenuItem = Model.Purchase.Rejected.MenuName;
    string userProblemsMenuItem = Model.Purchase.Problem.MenuName;


    string userRequestsUnconfirmedToolTip = Model.Purchase.RequestUnconfirmed.MenuToolTip;
    string userRequestsConfirmedToolTip = Model.Purchase.RequestConfirmed.MenuToolTip;
    string userTotalPurchaseToolTip = Model.Purchase.All.MenuToolTip;
    string userInProccessOrdersToolTip = Model.Purchase.InProccess.MenuToolTip;
    string userConfirmedBySellersToolTip = Model.Purchase.ConfirmedBySeller.MenuToolTip;
    string userConfirmedByCouriersToolTip = Model.Purchase.ConfirmedByCourier.MenuToolTip;
    string userReadyForShipmentsToolTip = Model.Purchase.ReadyForShipment.MenuToolTip;
    string userPickedUpsToolTip = Model.Purchase.PickedUp.MenuToolTip;
    string userDeliveredsToolTip = Model.Purchase.Delivered.MenuToolTip;
    string userRejectedsToolTip = Model.Purchase.Rejected.MenuToolTip;
    string userProblemsToolTip = Model.Purchase.Problem.MenuToolTip;

    string userRequestsUnconfirmed_Path = Url.Action("List_Purchase_RequestUnconfirmed", "BuySellDocs");
    string userRequestsConfirmed_Path = Url.Action("List_Purchase_RequestConfirmed", "BuySellDocs");
    string userTotalPurchase_Path = Url.Action("List_Purchase_All", "BuySellDocs");
    string userInProccessOrders_Path = Url.Action("List_Purchase_InProccess", "BuySellDocs");
    string userConfirmedBySellers_Path = Url.Action("List_Purchase_ConfirmedBySeller", "BuySellDocs");
    string userConfirmedByCouriers_Path = Url.Action("List_Purchase_ConfirmedByCourier", "BuySellDocs");
    string userReadyForShipments_Path = Url.Action("List_Purchase_ReadyForShipment", "BuySellDocs");
    string userPickedUps_Path = Url.Action("List_Purchase_PickedUp", "BuySellDocs");
    string userDelivereds_Path = Url.Action("List_Purchase_Delivered", "BuySellDocs");
    string userRejecteds_Path = Url.Action("List_Purchase_Rejected", "BuySellDocs");
    string userProblems_Path = Url.Action("List_Purchase_Problem", "BuySellDocs");
}

<h2 class="text-info">Purchase Orders</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container p-3 ">
        <hr />

        @if (zeroTotal)
        {
            <p class="text-center">You have no orders.</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userTotalPurchase_Path " data-toggle=" tooltip" title="@userTotalPurchaseToolTip" data-placement="left">@userTotalPurchaseOrdersMenuItem</a>
            <br />

        }


        @if (zeroInProccessOrders)
        {
            <p class="text-center">You have no orders in proccess</p>
        }
        else
        {
            <a class="btn btn-lg btn-default  w-100" href="@userInProccessOrders_Path" data-toggle=" tooltip" title="@userInProccessOrdersToolTip" data-placement="left">@userInProccessOrdersMenuItem</a>
            <br />

        }
        @if (zeroRejected)
        {
            <p class="text-center">You have no orders that have been rejected</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userRejecteds_Path " data-toggle=" tooltip" title="@userRejectedsToolTip" data-placement="left">@userRejectedsMenuItem</a>
            <br />

        }




        @if (zeroProblem)
        {
            <p class="text-center">You have no orders that are a problem (lucky you)</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userProblems_Path " data-toggle=" tooltip" title="@userProblemsToolTip" data-placement="left">@userProblemsMenuItem</a>
            <br />

        }

        <hr />




        @if (zeroUnconfirmedRequests)
        {
            <p class="text-center">You have no unconfirmed requests</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userRequestsUnconfirmed_Path " data-toggle=" tooltip" title="@userRequestsUnconfirmedToolTip" data-placement="left">@userRequestsUnconfirmedMenuItem</a>
            <br />

        }



        @if (zeroConfirmedRequests)
        {
            <p class="text-center">You have no CONFIRMED requests</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userRequestsConfirmed_Path " data-toggle=" tooltip" title="@userRequestsConfirmedToolTip" data-placement="left">@userRequestsConfirmedMenuItem</a>
            <br />

        }






        @if (zeroConfirmedBySeller)
        {
            <p class="text-center">You have no orders confirmed by the Seller </p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userConfirmedBySellers_Path " data-toggle=" tooltip" title="@userConfirmedBySellersToolTip" data-placement="left">@userConfirmedBySellersMenuItem</a>
            <br />

        }



        @if (zeroReadyForShipment)
        {
            <p class="text-center">You have no orders Ready for Shipment </p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userReadyForShipments_Path " data-toggle=" tooltip" title="@userReadyForShipmentsToolTip" data-placement="left">@userReadyForShipmentsMenuItem</a>
            <br />

        }



        @if (zeroConfirmedByCourier)
        {
            <p class="text-center">You have no orders confirmed by courier for shipment</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userConfirmedByCouriers_Path " data-toggle=" tooltip" title="@userConfirmedByCouriersToolTip" data-placement="left">@userConfirmedByCouriersMenuItem</a>
            <br />

        }



        @if (zeroPickedUp)
        {
            <p class="text-center">You have no orders that have been picked up by the courier</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userPickedUps_Path " data-toggle=" tooltip" title="@userPickedUpsToolTip" data-placement="left">@userPickedUpsMenuItem</a>
            <br />

        }



        @if (zeroDelivered)
        {
            <p class="text-center">You have no orders delivered</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userDelivereds_Path " data-toggle=" tooltip" title="@userDeliveredsToolTip" data-placement="left">@userDeliveredsMenuItem</a>
            <br />

        }







    </div>
}