@model ModelsClassLibrary.ModelsNS.DocumentsNS.MoneyAndCountClass.MoneyItemParent

@{
    ViewBag.Title = "ShowCashMenu";
    const string SALE_ORDER_STATEMENT = "saleorderstatement";
    ViewBag.StatementType = SALE_ORDER_STATEMENT;

    bool zeroUnconfirmedRequests = Model.Sale.RequestUnconfirmed.IsZero;
    bool zeroConfirmedRequests = Model.Sale.RequestConfirmed.IsZero;
    bool zeroTotal = Model.Sale.All.IsZero;
    bool zeroInProccessOrders = Model.Sale.InProccess.IsZero;
    bool zeroConfirmedBySeller = Model.Sale.ConfirmedBySeller.IsZero;
    bool zeroConfirmedByCourier = Model.Sale.ConfirmedByCourier.IsZero;
    bool zeroReadyForShipment = Model.Sale.ReadyForShipment.IsZero;
    bool zeroPickedUp = Model.Sale.PickedUp.IsZero;
    bool zeroDelivered = Model.Sale.Delivered.IsZero;
    bool zeroRejected = Model.Sale.Rejected.IsZero;
    bool zeroProblem = Model.Sale.Problem.IsZero;

    string userRequestsUnconfirmedMenuItem = Model.Sale.RequestUnconfirmed.MenuName;
    string userRequestsConfirmedMenuItem = Model.Sale.RequestConfirmed.MenuName;
    string userTotalSaleOrdersMenuItem = Model.Sale.All.MenuName;
    string userInProccessOrdersMenuItem = Model.Sale.InProccess.MenuName;
    string userConfirmedBySellersMenuItem = Model.Sale.ConfirmedBySeller.MenuName;
    string userConfirmedByCouriersMenuItem = Model.Sale.ConfirmedByCourier.MenuName;
    string userReadyForShipmentsMenuItem = Model.Sale.ReadyForShipment.MenuName;
    string userPickedUpsMenuItem = Model.Sale.PickedUp.MenuName;
    string userDeliveredsMenuItem = Model.Sale.Delivered.MenuName;
    string userRejectedsMenuItem = Model.Sale.Rejected.MenuName;
    string userProblemsMenuItem = Model.Sale.Problem.MenuName;


    string userRequestsUnconfirmedToolTip = Model.Sale.RequestUnconfirmed.MenuToolTip;
    string userRequestsConfirmedToolTip = Model.Sale.RequestConfirmed.MenuToolTip;
    string userTotalSaleToolTip = Model.Sale.All.MenuToolTip;
    string userInProccessOrdersToolTip = Model.Sale.InProccess.MenuToolTip;
    string userConfirmedBySellersToolTip = Model.Sale.ConfirmedBySeller.MenuToolTip;
    string userConfirmedByCouriersToolTip = Model.Sale.ConfirmedByCourier.MenuToolTip;
    string userReadyForShipmentsToolTip = Model.Sale.ReadyForShipment.MenuToolTip;
    string userPickedUpsToolTip = Model.Sale.PickedUp.MenuToolTip;
    string userDeliveredsToolTip = Model.Sale.Delivered.MenuToolTip;
    string userRejectedsToolTip = Model.Sale.Rejected.MenuToolTip;
    string userProblemsToolTip = Model.Sale.Problem.MenuToolTip;

    string userRequestsUnconfirmed_Path = Url.Action("List_Sale_RequestUnconfirmed_Admin", "BuySellDocs");
    string userRequestsConfirmed_Path = Url.Action("List_Sale_RequestConfirmed_Admin", "BuySellDocs");
    string userTotalSale_Path = Url.Action("List_Sale_All_Admin", "BuySellDocs");
    string userInProccessOrders_Path = Url.Action("List_Sale_InProccess_Admin", "BuySellDocs");
    string userConfirmedBySellers_Path = Url.Action("List_Sale_ConfirmedBySeller_Admin", "BuySellDocs");
    string userConfirmedByCouriers_Path = Url.Action("List_Sale_ConfirmedByCourier_Admin", "BuySellDocs");
    string userReadyForShipments_Path = Url.Action("List_Sale_ReadyForShipment_Admin", "BuySellDocs");
    string userPickedUps_Path = Url.Action("List_Sale_PickedUp_Admin", "BuySellDocs");
    string userDelivereds_Path = Url.Action("List_Sale_Delivered_Admin", "BuySellDocs");
    string userRejecteds_Path = Url.Action("List_Sale_Rejected_Admin", "BuySellDocs");
    string userProblems_Path = Url.Action("List_Sale_Problem_Admin", "BuySellDocs");
}

<h2 class="text-info">Sale Orders -Administration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container p-3 ">
        <hr />

        @if (zeroTotal)
        {
            <p class="text-center">You have no orders.</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userTotalSale_Path " data-toggle=" tooltip" title="@userTotalSaleToolTip" data-placement="left">@userTotalSaleOrdersMenuItem</a>
            <br />

        }


        @if (zeroInProccessOrders)
        {
            <p class="text-center">You have no orders in proccess</p>
        }
        else
        {
            <a class="btn btn-lg btn-default  w-100" href="@userInProccessOrders_Path" data-toggle=" tooltip" title="@userInProccessOrdersToolTip" data-placement="left">@userInProccessOrdersMenuItem</a>
            <br />

        }
        @if (zeroRejected)
        {
            <p class="text-center">You have no orders that have been rejected</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userRejecteds_Path " data-toggle=" tooltip" title="@userRejectedsToolTip" data-placement="left">@userRejectedsMenuItem</a>
            <br />

        }




        @if (zeroProblem)
        {
            <p class="text-center">You have no orders that are a problem (lucky you)</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userProblems_Path " data-toggle=" tooltip" title="@userProblemsToolTip" data-placement="left">@userProblemsMenuItem</a>
            <br />

        }

        <hr />




        @if (zeroUnconfirmedRequests)
        {
            <p class="text-center">You have no unconfirmed requests</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userRequestsUnconfirmed_Path " data-toggle=" tooltip" title="@userRequestsUnconfirmedToolTip" data-placement="left">@userRequestsUnconfirmedMenuItem</a>
            <br />

        }



        @if (zeroConfirmedRequests)
        {
            <p class="text-center">You have no CONFIRMED requests</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userRequestsConfirmed_Path " data-toggle=" tooltip" title="@userRequestsConfirmedToolTip" data-placement="left">@userRequestsConfirmedMenuItem</a>
            <br />

        }






        @if (zeroConfirmedBySeller)
        {
            <p class="text-center">You have no orders confirmed by the Seller </p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userConfirmedBySellers_Path " data-toggle=" tooltip" title="@userConfirmedBySellersToolTip" data-placement="left">@userConfirmedBySellersMenuItem</a>
            <br />

        }



        @if (zeroReadyForShipment)
        {
            <p class="text-center">You have no orders Ready for Shipment </p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userReadyForShipments_Path " data-toggle=" tooltip" title="@userReadyForShipmentsToolTip" data-placement="left">@userReadyForShipmentsMenuItem</a>
            <br />

        }



        @if (zeroConfirmedByCourier)
        {
            <p class="text-center">You have no orders confirmed by courier for shipment</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userConfirmedByCouriers_Path " data-toggle=" tooltip" title="@userConfirmedByCouriersToolTip" data-placement="left">@userConfirmedByCouriersMenuItem</a>
            <br />

        }



        @if (zeroPickedUp)
        {
            <p class="text-center">You have no orders that have been picked up by the courier</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userPickedUps_Path " data-toggle=" tooltip" title="@userPickedUpsToolTip" data-placement="left">@userPickedUpsMenuItem</a>
            <br />

        }



        @if (zeroDelivered)
        {
            <p class="text-center">You have no orders delivered</p>
        }
        else
        {
            <a class="btn btn-lg btn-default w-100" href="@userDelivereds_Path " data-toggle=" tooltip" title="@userDeliveredsToolTip" data-placement="left">@userDeliveredsMenuItem</a>
            <br />

        }







    </div>
}