@model ModelsClassLibrary.ModelsNS.GlobalObjectNS.GlobalObject


@{
    ViewBag.Title = "ShowCashMenu";
    const string SALE_ORDER_STATEMENT = "saleorderstatement";
    ViewBag.StatementType = SALE_ORDER_STATEMENT;

    bool zeroUnconfirmedRequests = Model.Sale_Admin.RequestUnconfirmed.IsZero;
    bool zeroConfirmedRequests = Model.Sale_Admin.RequestConfirmed.IsZero;
    bool zeroTotal = Model.Sale_Admin.All.IsZero;
    bool zeroInProccessOrders = Model.Sale_Admin.InProccess.IsZero;
    bool zeroConfirmedBySeller = Model.Sale_Admin.BeingPreparedForShipmentBySeller.IsZero;
    bool zeroConfirmedByCourier = Model.Sale_Admin.CourierComingToPickUp.IsZero;
    bool zeroReadyForShipment = Model.Sale_Admin.ReadyForPickup.IsZero;
    bool zeroEnroute = Model.Sale_Admin.Enroute.IsZero;
    bool zeroDelivered = Model.Sale_Admin.Delivered.IsZero;
    bool zeroRejected = Model.Sale_Admin.Rejected.IsZero;
    bool zeroProblem = Model.Sale_Admin.Problem.IsZero;

    string userRequestsUnconfirmedMenuItem = Model.Sale_Admin.RequestUnconfirmed.MenuName;
    string userRequestsConfirmedMenuItem = Model.Sale_Admin.RequestConfirmed.MenuName;
    string userTotalSaleOrdersMenuItem = Model.Sale_Admin.All.MenuName;
    string userInProccessOrdersMenuItem = Model.Sale_Admin.InProccess.MenuName;
    string userConfirmedBySellersMenuItem = Model.Sale_Admin.BeingPreparedForShipmentBySeller.MenuName;
    string userConfirmedByCouriersMenuItem = Model.Sale_Admin.CourierComingToPickUp.MenuName;
    string userReadyForShipmentsMenuItem = Model.Sale_Admin.ReadyForPickup.MenuName;
    string userEnrouteMenuItem = Model.Sale_Admin.Enroute.MenuName;
    string userDeliveredsMenuItem = Model.Sale_Admin.Delivered.MenuName;
    string userRejectedsMenuItem = Model.Sale_Admin.Rejected.MenuName;
    string userProblemsMenuItem = Model.Sale_Admin.Problem.MenuName;


    string userRequestsUnconfirmedToolTip = Model.Sale_Admin.RequestUnconfirmed.MenuToolTip;
    string userRequestsConfirmedToolTip = Model.Sale_Admin.RequestConfirmed.MenuToolTip;
    string userTotalSaleToolTip = Model.Sale_Admin.All.MenuToolTip;
    string userInProccessOrdersToolTip = Model.Sale_Admin.InProccess.MenuToolTip;
    string userConfirmedBySellersToolTip = Model.Sale_Admin.BeingPreparedForShipmentBySeller.MenuToolTip;
    string userConfirmedByCouriersToolTip = Model.Sale_Admin.CourierComingToPickUp.MenuToolTip;
    string userReadyForShipmentsToolTip = Model.Sale_Admin.ReadyForPickup.MenuToolTip;
    string userEnrouteToolTip = Model.Sale_Admin.Enroute.MenuToolTip;
    string userDeliveredsToolTip = Model.Sale_Admin.Delivered.MenuToolTip;
    string userRejectedsToolTip = Model.Sale_Admin.Rejected.MenuToolTip;
    string userProblemsToolTip = Model.Sale_Admin.Problem.MenuToolTip;

    string userRequestsUnconfirmed_Path = Url.Action("List_Sale_RequestUnconfirmed_Admin", "BuySellDocs");
    string userRequestsConfirmed_Path = Url.Action("List_Sale_RequestConfirmed_Admin", "BuySellDocs");
    string userTotalSale_Path = Url.Action("List_Sale_All_Admin", "BuySellDocs");
    string userInProccessOrders_Path = Url.Action("List_Sale_InProccess_Admin", "BuySellDocs");
    string userConfirmedBySellers_Path = Url.Action("List_Sale_ConfirmedBySeller_Admin", "BuySellDocs");
    string userConfirmedByCouriers_Path = Url.Action("List_Sale_ConfirmedByCourier_Admin", "BuySellDocs");
    string userReadyForShipments_Path = Url.Action("List_Sale_ReadyForShipment_Admin", "BuySellDocs");
    string userEnroute_Path = Url.Action("List_Sale_Enroute_Admin", "BuySellDocs");
    string userDelivereds_Path = Url.Action("List_Sale_Delivered_Admin", "BuySellDocs");
    string userRejecteds_Path = Url.Action("List_Sale_Rejected_Admin", "BuySellDocs");
    string userProblems_Path = Url.Action("List_Sale_Problem_Admin", "BuySellDocs");

    bool zeroCourierAcceptedByBuyerAndSeller = Model.Sale_Admin.CourierAcceptedByBuyerAndSeller.IsZero;
    string userCourierAcceptedByBuyerAndSellerMenuItem = Model.Sale_Admin.CourierAcceptedByBuyerAndSeller.MenuName;
    string userCourierAcceptedByBuyerAndSellerToolTip = Model.Sale_Admin.CourierAcceptedByBuyerAndSeller.MenuToolTip;
    string userCourierAcceptedByBuyerAndSeller_Path = Url.Action("List_Sale_CourierAcceptedByBuyerAndSeller_Admin", "BuySellDocs");
    
}

<h2 class="bg-info text-white w-100 mt-1 p-2 text-center">Sale Orders -Administration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <hr />

        @if (zeroTotal)
        {
            <p class="text-center">You have no orders.</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userTotalSale_Path " data-toggle=" tooltip" title="@userTotalSaleToolTip" data-placement="left">@userTotalSaleOrdersMenuItem</a>
            <br />

        }


        @if (zeroInProccessOrders)
        {
            <p class="text-center">You have no orders in proccess</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userInProccessOrders_Path" data-toggle=" tooltip" title="@userInProccessOrdersToolTip" data-placement="left">@userInProccessOrdersMenuItem</a>
            <br />

        }



        <h5 class="text-dark background-ltgrey  w-100 m-1 text-center p-2">Detail</h5>



        @if (zeroRejected)
        {
            <p class="text-center">You have no orders that have been rejected</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userRejecteds_Path " data-toggle=" tooltip" title="@userRejectedsToolTip" data-placement="left">@userRejectedsMenuItem</a>
            <br />

        }




        @if (zeroProblem)
        {
            <p class="text-center">You have no orders that are a problem (lucky you)</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userProblems_Path " data-toggle=" tooltip" title="@userProblemsToolTip" data-placement="left">@userProblemsMenuItem</a>
            <br />

        }





        @if (zeroUnconfirmedRequests)
        {
            <p class="text-center">You have no unconfirmed requests</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userRequestsUnconfirmed_Path " data-toggle=" tooltip" title="@userRequestsUnconfirmedToolTip" data-placement="left">@userRequestsUnconfirmedMenuItem</a>
            <br />

        }



        @if (zeroConfirmedRequests)
        {
            <p class="text-center">You have no CONFIRMED requests</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userRequestsConfirmed_Path " data-toggle=" tooltip" title="@userRequestsConfirmedToolTip" data-placement="left">@userRequestsConfirmedMenuItem</a>
            <br />

        }






        @if (zeroConfirmedBySeller)
        {
            <p class="text-center">You have no orders confirmed by the Seller </p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userConfirmedBySellers_Path " data-toggle=" tooltip" title="@userConfirmedBySellersToolTip" data-placement="left">@userConfirmedBySellersMenuItem</a>
            <br />

        }



        @if (zeroCourierAcceptedByBuyerAndSeller)
        {
            <p class="text-center">You have no orders being picked up by Courier</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userReadyForShipments_Path " data-toggle=" tooltip" title="@userReadyForShipmentsToolTip" data-placement="left">@userReadyForShipmentsMenuItem</a>
            <br />

        }





















        @if (zeroCourierAcceptedByBuyerAndSeller)
        {
            <p class="text-center">You have no orders confirmed by courier for shipment</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userCourierAcceptedByBuyerAndSeller_Path " data-toggle=" tooltip" title="@userCourierAcceptedByBuyerAndSellerToolTip" data-placement="left">@userCourierAcceptedByBuyerAndSellerMenuItem</a>
            <br />

        }



















        @if (zeroConfirmedByCourier)
        {
            <p class="text-center">You have no orders confirmed by courier for pickup</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userConfirmedByCouriers_Path " data-toggle=" tooltip" title="@userConfirmedByCouriersToolTip" data-placement="left">@userConfirmedByCouriersMenuItem</a>
            <br />

        }



        @if (zeroEnroute)
        {
            <p class="text-center">You have no orders that have been picked up by the courier</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userEnroute_Path " data-toggle=" tooltip" title="@userEnrouteToolTip" data-placement="left">@userEnrouteMenuItem</a>
            <br />

        }



        @if (zeroDelivered)
        {
            <p class="text-center">You have no orders delivered</p>
        }
        else
        {
            <a class="btn btn-lg btn-default text-info  w-100 m-1" href="@userDelivereds_Path " data-toggle=" tooltip" title="@userDeliveredsToolTip" data-placement="left">@userDeliveredsMenuItem</a>
            <br />

        }







    </div>
}