@model ModelsNS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter Any or All of the following:</h4>

    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <h4 class="text-danger mt-3 ml-3">And / Or</h4>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                <h4 class="text-danger mt-3 ml-3">And / Or</h4>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Both Phone and Country are required to recover using phone number.</h5>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })


                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.CountryId,
                          (@Model.CountrySelectList as IEnumerable<SelectListItem>),
                          "--- Select Country for phone ---",
                  new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })


                    </div>
                </div>
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-2">
                <input type="submit" class="btn btn-default" value="Email and SMS Link" />
            </div>
        </div>

    </div>

}

